<div class="sns-shares">
  <span>{{ 'general.site.share'|t  }}</span>
<a href="https://twitter.com/share?url=https://monatelier-jewelry.com{{ article.url }}{{product.url}}&text={{ article.title }}{{product.title}}" rel="nofollow" target="_blank">
    
<svg xmlns="http://www.w3.org/2000/svg" width="58.618" height="47.664" viewBox="0 0 58.618 47.664">
  <g id="Twitter_Social_Icon_Blue_1_" data-name="Twitter_Social_Icon_Blue (1)" transform="translate(-62.6 -50.8)">
    <path id="パス_336" data-name="パス 336" d="M81.013,98.464c22.12,0,34.223-18.343,34.223-34.223,0-.516,0-1.032-.023-1.548a24.5,24.5,0,0,0,6-6.239,24.378,24.378,0,0,1-6.92,1.9,12.1,12.1,0,0,0,5.3-6.662,23.926,23.926,0,0,1-7.647,2.909,12.031,12.031,0,0,0-20.806,8.233,13.3,13.3,0,0,0,.3,2.744A34.156,34.156,0,0,1,66.658,53a12.077,12.077,0,0,0,3.73,16.068,12.166,12.166,0,0,1-5.442-1.5v.164a12.053,12.053,0,0,0,9.641,11.8,12.1,12.1,0,0,1-5.418.211A12.028,12.028,0,0,0,80.4,88.1a24.125,24.125,0,0,1-14.942,5.16,23.146,23.146,0,0,1-2.862-.164,34.214,34.214,0,0,0,18.413,5.372" transform="translate(0 0)" fill="#989898"/>
  </g>
</svg>

</a>
<a href="https://www.facebook.com/sharer/sharer.php?u=https://monatelier-jewelry.com{{ article.url }}{{product.url}}" target="_blank" rel="nofollow noopener noreferrer">
<svg id="icon_fb_1_" data-name="icon_fb (1)" xmlns="http://www.w3.org/2000/svg" width="57.259" height="56.911" viewBox="0 0 57.259 56.911">
  <path id="パス_337" data-name="パス 337" d="M28.629,0a28.632,28.632,0,0,0-4.473,56.911V36.905H16.887V28.629h7.269V22.322c0-7.175,4.274-11.139,10.814-11.139a44.044,44.044,0,0,1,6.409.559v7.046h-3.61c-3.556,0-4.666,2.207-4.666,4.473v5.368h7.94l-1.269,8.276H33.1V56.911A28.632,28.632,0,0,0,28.629,0Z" fill="#989898"/>
</svg>



</a>
{% if template == "product" %}
<a class="line-btn" href="https://social-plugins.line.me/lineit/share?url=https://monatelier-jewelry.com{{ article.url }}{{product.url}}" target="_blank" rel="nofollow noopener noreferrer">
<svg xmlns="http://www.w3.org/2000/svg" width="57.489" height="54.777" viewBox="0 0 57.489 54.777">
  <g id="グループ_3056" data-name="グループ 3056" transform="translate(-1030.384 -15555.27)">
    <g id="g7962" transform="translate(794.535 15334.799)">
      <path id="path7964" d="M-159.507-64.721c0-12.862-12.894-23.327-28.745-23.327S-217-77.583-217-64.721c0,11.531,10.226,21.188,24.04,23.014.936.2,2.21.617,2.533,1.417a5.9,5.9,0,0,1,.093,2.6s-.337,2.028-.41,2.46c-.125.727-.577,2.842,2.49,1.55s16.554-9.747,22.585-16.689h0c4.166-4.568,6.161-9.2,6.161-14.352" transform="translate(452.846 308.519)" fill="#989898"/>
    </g>
    <g id="g7966" transform="translate(1050.712 15572.381)">
      <path id="path7968" d="M-7.149,0H-9.165a.56.56,0,0,0-.56.559V13.084a.56.56,0,0,0,.56.559h2.016a.559.559,0,0,0,.56-.559V.559A.56.56,0,0,0-7.149,0" transform="translate(9.726 0)" fill="#fff"/>
    </g>
    <g id="g7970" transform="translate(1055.808 15572.381)">
      <path id="path7972" d="M-31.513,0H-33.53a.56.56,0,0,0-.56.559V8L-39.829.249a.619.619,0,0,0-.044-.057l0,0C-39.888.176-39.9.165-39.91.154l-.01-.009A.322.322,0,0,0-39.95.12l-.014-.012-.029-.02-.017-.01-.03-.017-.018-.008L-40.09.039l-.018-.007-.034-.01-.019-.006-.032-.007-.024,0-.03,0-.029,0h-2.036a.56.56,0,0,0-.56.559V13.084a.56.56,0,0,0,.56.559H-40.3a.559.559,0,0,0,.56-.559V5.645l5.747,7.761a.555.555,0,0,0,.142.138l.006,0,.035.021.016.008.026.013.028.012.017.006.038.013.008,0a.558.558,0,0,0,.143.019h2.016a.559.559,0,0,0,.56-.559V.559A.559.559,0,0,0-31.513,0" transform="translate(42.871 0)" fill="#fff"/>
    </g>
    <g id="g7974" transform="translate(1039.814 15572.38)">
      <path id="path7976" d="M-23.9-29.151H-29.38V-39.1a.56.56,0,0,0-.559-.56h-2.017a.56.56,0,0,0-.56.56v12.523h0a.557.557,0,0,0,.156.387l.008.008.008.008a.555.555,0,0,0,.387.156H-23.9a.559.559,0,0,0,.559-.56v-2.016a.559.559,0,0,0-.559-.56" transform="translate(32.515 39.658)" fill="#fff"/>
    </g>
    <g id="g7978" transform="translate(1069.686 15572.38)">
      <path id="path7980" d="M-23.9-8.7a.559.559,0,0,0,.559-.56v-2.016a.559.559,0,0,0-.559-.56h-8.056a.556.556,0,0,0-.388.158l-.007.006-.009.01a.556.556,0,0,0-.155.386h0V1.244h0a.557.557,0,0,0,.157.387l.008.008.008.008a.556.556,0,0,0,.386.156H-23.9a.559.559,0,0,0,.559-.56V-.772a.559.559,0,0,0-.559-.56h-5.478V-3.449H-23.9a.559.559,0,0,0,.559-.56V-6.025a.559.559,0,0,0-.559-.56h-5.478V-8.7Z" transform="translate(32.515 11.839)" fill="#fff"/>
    </g>
  </g>
</svg>
</a>
{% endif %}
  
</div>
