      <div class="sp-menu-multiple">
      <div class="hamub-main-sp">

        <div class="sp-main-menu"><a href="/collections/all">{{ 'general.site.jewerly'|t  }}</a>
        	<span class="sp-js-accordion"><span class="plus-icon">{% render 'svg-plus' %}</span><span class="minus-icon">{% render 'svg-minus' %}</span></span>
        </div>
            <ul>
            <li><a href="/collections/new">{{ collections["new"].title }}</a></li>
            <li><a href="/collections/necklace">{{ collections["necklace"].title }}</a></li>
            <li><a href="/collections/ring">{{ collections["ring"].title }}</a></li>
            <li><a href="/collections/earring">{{ collections["earring"].title }}</a></li>
			<!-- <li><a href="/collections/other">{{ collections["other"].title }}</a></li> -->
			<!-- <li><a href="/collections/all">{{ collections["all"].title }}</a></li> -->
            </ul>
    	<div class="sp-main-menu"><a href="/pages/concept">{{ 'general.site.about'|t  }}</a>
        	<span class="sp-js-accordion"><span class="plus-icon">{% render 'svg-plus' %}</span><span class="minus-icon">{% render 'svg-minus' %}</span></span>
        </div>
         	<ul>
            <li><a href="/pages/concept">{{ 'general.pages.brandconcept'|t  }}</a></li>
            <li><a href="/pages/material">{{ 'general.pages.material'|t  }}</a></li>
            <li><a href="/pages/workshop">{{ 'general.pages.workshop'|t  }}</a></li>
        	</ul>
  	    <div class="sp-main-menu"><a href="/pages/service">{{ 'general.service.service'|t  }}</a>
        	<span class="sp-js-accordion"><span class="plus-icon">{% render 'svg-plus' %}</span><span class="minus-icon">{% render 'svg-minus' %}</span></span>
        </div>
          	<ul>
            <li><a href="/pages/gift">{{ 'general.service.giftwrapping-jp'|t  }}</a></li>
              {% comment %}
            <li><a href="/pages/customorder">{{ 'general.service.customorder-jp'|t  }}</a></li>
              {% endcomment %}
            <li><a href="/pages/service">{{ 'general.service.afterservice-jp'|t  }}</a></li>
            <li><a href="/pages/warranty">{{ 'general.service.warranty-jp'|t  }}</a></li>
            <li><a href="/pages/care">{{ 'general.service.care-jp'|t  }}</a></li>
          	</ul>
   	    <div class="sp-main-menu"><a href="/blogs/post">{{ 'general.site.column'|t  }}</a></div>
        
        </div>
        <div class="hamub-sub-sp">
          <div class="hamub-sub-sp-left">
          	<a href="/pages/shopping-guide">{{ 'general.site.shoppingguide'|t  }}</a>
            <a href="/pages/contact">{{ 'general.site.contact'|t  }}</a>
          </div>
          <div class="hamub-sub-sp-right">
          	<a href="/pages/faq">{{ 'general.site.faq'|t  }}</a>
          	<a href="/pages/company">{{ 'general.site.company'|t  }}</a>
          </div>
        </div>
      </div>