  <div id="about">
    <!-- collection image -->
    <div class="pc">
      <div class="wide-content collection_image_position">
        <div class="collection_image">
          {{ 'about_mv_pc.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>

    <div class="sp">
      <div class="wide-content collection_image_position">
        <div class="collection_image">
          {{ 'about_mv_sp.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>

    <!-- title -->
    <div class="content">
      <div class="title">
        <h3>素材について</h3>
        <p>MATERIAL</p>
      </div>
    </div>

    <div class="content">
      <div class="about_link_nav cssreset">
        <div><h3>ダイヤモンド</h3><p>DIAMOND</p></div>
        <div><h3>検査機器</h3><p>MACHINE</p></div>
        <div><h3>地金</h3><p>BULLION</p></div>
      </div>
    </div>

    <!--description-->
    <div class="content about_diamond">
      <div>
        <div class="caption_lv1">
          <h3>ダイヤモンド</h3>
        </div>
        <p>モナトリエでは、すべての製品に天然ダイヤモンドを使用しています。<br>
        グレードは一般的な使用に問題がなく、最も高いコストパフォーマンスを発揮する品質<br>
        「I１ Gカラー Goodカット」を使用しています。<br>
        <br>
        モナトリエでは、代表自らがインド、ムンバイにあるダイヤモンド取引所に赴き、デビアス社の原石供給先である大手ダイヤモンド研磨会社より直接購入しています。主要材料を貿易会社、卸会社を通さず仕入れることで原価低減を図り、製品価格に反映させています。また、デビアス社の正規ルートより仕入れることで、コンフリクトダイヤモンド(*1)や合成ダイヤモンドの混入を防いでいます。
        </p>
      </div>
      <div>
        <img src="{{ 'about_01_pc.jpg' | asset_img_url: 'master' }}" class="pc">
        <img src="{{ 'about_01_sp.jpg' | asset_img_url: 'master' }}" class="sp">
      </div>
    </div>

    <!--description-->
    <div class="content">
      <div>
        <div class="caption_lv1">
          <h3>GIAの鑑定基準について</h3>
        </div>
        <p>ダイヤモンドの選別は、世界基準であるGIA(*2)が認定するダイヤモンド鑑定資格を持つスタッフが行っており、規定品質のダイヤモンドを製品にセットしています。
        </p>
        <p>(*1) コンフリクトダイヤモンド：ダイヤモンドカルテルであるデビアス社の正規ルートを経ないダイヤモンドには、内戦国などから抗争資金を得るために不正に輸出されたダイヤモンドが混入している可能性が高い、と言われています。<br>
        (*2)GIA：世界のダイヤモンド取引に用いられる基準を提供している非営利組織です。通常GIAの鑑定がないダイヤモンドは取引対象になりません。</p>
      </div>
    </div>

    <!-- wide image -->
    <div class="pc">
      <div class="content">
        <div class="content_wide_image">
          {{ 'about_03_pc.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>
    <div class="sp">
      <div class="content">
        <div class="content_wide_image">
          {{ 'about_03_sp.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>

    <div class="content">
      <div class="btn_right">
        <a href=""><span>ダイヤモンドを使用した商品一覧へ</span><br>
        <span>VIEW ALL</span></a>
      </div>
    </div>

    <div class="content">
      <h3>品質のための機器</h3>
      <div class="about_new_content02">
        <div><div>{{ 'gray.jpg' | asset_img_url: 'master' | img_tag }}</div><p>ダイヤ検査機</p></div>
        <div><div>{{ 'gray.jpg' | asset_img_url: 'master' | img_tag }}</div><p>金含有率検査機</p></div>
        <div><div>{{ 'gray.jpg' | asset_img_url: 'master' | img_tag }}</div><p>キャスト機材</p></div>
        <div><div>{{ 'gray.jpg' | asset_img_url: 'master' | img_tag }}</div><p>マイクロセッティング機材</p></div>
        <div><div>{{ 'gray.jpg' | asset_img_url: 'master' | img_tag }}</div><p>検品用マイクロスコープ</p></div>
      </div>
    </div>

    <!--description-->
    <div class="content">
      <div>
        <div class="caption_lv1">
          <h3>地金</h3>
        </div>
        <p>モナトリエでは、ご使用時の変形を防ぐため、金の含有率はそのままに、通常のK10よりも硬い特別なK10を使用しています。<br>
        K10には純金が41.7％含まれており、一般的に銀と銅を58％前後混合しています。<br>
        金と銀は金属としては柔らかいため、銅を混ぜることで強度を上げていますが、それでも一般的なK10は変形しやすく、ご使用の際には注意が必要です。<br>
        モナトリエのジュエリーは、日常的に身に着けても変形しにくく、長くご使用いただくことが可能です。</p>
      </div>
      <div class="about_jikin">
        <div>
          <div><img src="{{ 'about_04_pc.jpg' | asset_img_url: 'master' }}" class="pc"><img src="{{ 'about_04_sp.jpg' | asset_img_url: 'master' }}" class="sp"></div>
          <p>通常K１０：＊ｋｇにて10％変形</p>
        </div>
        <div>
          <div>
            <div><img src="{{ 'about_05_pc.jpg' | asset_img_url: 'master' }}" class="pc"><img src="{{ 'about_05_sp.jpg' | asset_img_url: 'master' }}" class="sp"></div>
          </div>
          <p>モナトリエK１０：＊ｋｇにて10％変形</p>
        </div>
      </div>
    </div>

    <!--description-->
    <div class="content">
      <div>
        <div class="caption_lv1">
          <h3>「ニッケル」・フリー</h3>
        </div>
        <p>「ニッケル」はK１０に混合することにより、製造の際に作業性の向上を図ることができる金属です。ところがニッケルは「アレルゲン」であるため、直接肌に触れると「かぶれ」などのトラブルを引き起こすことがあり、また近年では「発ガン性」も指摘されています。<br>
        モナトリエでは、ニッケルなどのアレルゲン、発ガン物質は、素材、加工材料などに一切使用しておりません。</p>
      </div>
    </div>

    <!-- wide image -->
    <div class="pc">
      <div class="content">
        <div class="content_wide_image">
          {{ 'about_06_pc.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>
    <div class="sp">
      <div class="content">
        <div class="content_wide_image">
          {{ 'about_06_sp.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>

    <div class="content">
      <div class="btn_right">
        <a href=""><span>地金を使用した商品一覧へ</span><br>
        <span>VIEW ALL</span></a>
      </div>
    </div>

  </div><!--#about-->

{% schema %}
{
    "name": "Main Menu",
    "settings": [
        {
            "type": "link_list",
            "id": "main_linklist",
            "label": "Menu",
            "default": "main-menu"
        }
    ]
}
  {% endschema %}
