  <div id="about">
    <!-- collection image -->
    <div class="pc">
      <div class="wide-content wide-content-image-position">
        <div class="wide-content-image">
          {{ 'about_mv_pc.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>

    <div class="sp">
        <div class="wide-content wide-content-image-position">
          <div class="wide-content-image">
          {{ 'about_mv_sp.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>

    <!-- title -->
    <div class="content">
      <div class="title">
        <h3><ls-static-524639>素材について</ls-static-524639></h3>
        <p><ls-static-359307>MATERIAL</ls-static-359307></p>
      </div>
    </div>

    <div class="content">
      <div class="about_link_nav cssreset">
        <a href="#diamond"><div><h3><ls-static-723799>ダイヤモンド</ls-static-723799></h3><p><ls-static-233275>DIAMOND</ls-static-233275></p></div></a>
        <a href="#equipment"><div><h3><ls-static-477839>検査機器</ls-static-477839></h3><p><ls-static-252171>MACHINE</ls-static-252171></p></div></a>
        <a href="#bullion"><div><h3><ls-static-581135>地金</ls-static-581135></h3><p><ls-static-33042>BULLION</ls-static-33042></p></div></a>
      </div>
    </div>

    <!--description-->
    <div class="content about_diamond">
      <div>
        <div class="caption_lv1"  id="diamond">
          <h3><ls-static-54734>ダイヤモンド</ls-static-54734></h3>
        </div>
        <p class="about_diamond_block01"><ls-static-326080>モナトリエでは、代表自らがインド、ムンバイにあるダイヤモンド取引所に赴き、デビアス社の原石供給先である大手ダイヤモンド研磨会社より直接購入しています。</ls-static-326080><br>
          <ls-static-75335>主要材料を貿易会社、卸会社を通さず仕入れることで原価低減を図り、製品価格に反映させています。</ls-static-75335><br>
          <ls-static-529519>また、デビアス社の正規ルートより仕入れることで、コンフリクトダイヤモンド(*1)や合成ダイヤモンドの混入を防いでいます。</ls-static-529519>
        </p>
      </div>
      <div>
        <img src="{{ 'about_01_pc.jpg' | asset_img_url: 'master' }}" class="pc">
        <img src="{{ 'about_01_sp.jpg' | asset_img_url: 'master' }}" class="sp">
      </div>
    </div>

    <!--description-->
    <div class="content">
      <div>
        <div class="caption_lv1">
          <h3><ls-static-223736>GIAの鑑定基準について</ls-static-223736></h3>
        </div>
        <p><ls-static-741973>ダイヤモンドの選別は、世界基準であるGIA(*2)が認定するダイヤモンド鑑定資格を持つスタッフが行っており、規定品質のダイヤモンドを製品にセットしています。</ls-static-741973>
        </p>
        <p class="description_small"><ls-static-217351>(*1) コンフリクトダイヤモンド：ダイヤモンドカルテルであるデビアス社の正規ルートを経ないダイヤモンドには、内戦国などから抗争資金を得るために不正に輸出されたダイヤモンドが混入している可能性が高い、と言われています。</ls-static-217351><br>
        <ls-static-140185>(*2)GIA：世界のダイヤモンド取引に用いられる基準を提供している非営利組織です。通常GIAの鑑定がないダイヤモンドは取引対象になりません。</ls-static-140185></p>
      </div>
    </div>

    <!-- wide image -->
    <div class="pc">
      <div class="content">
        <div class="content_wide_image about_new">
          {{ 'about_03_pc.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>
    <div class="sp">
      <div class="content">
        <div class="content_wide_image">
          {{ 'about_03_sp.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>

    <div class="content">
      <div class="btn_right">
        <a href="https://monatelier-jewelry.com/collections/all?pf_t_su_cai_material=%E3%83%80%E3%82%A4%E3%83%A4%E3%83%A2%E3%83%B3%E3%83%89"><span><ls-static-214043>ダイヤモンドを使用した商品一覧へ</ls-static-214043></span><br>
        <span><ls-static-37133>VIEW ALL</ls-static-37133></span></a>
      </div>
    </div>
    
    <!--description-->
    <div class="content">
      <div>
        <div class="caption_lv1" id="bullion">
          <h3><ls-static-507821>地金</ls-static-507821></h3>
        </div>
        <p>
          MONATELIER-モナトリエ-では、ジュエリーの地金にこだわり、金の含有率はそのままに、通常のK10よりも硬い特別なK10を使用しています。<br>
          通常のK10は、純金が41.7％含まれており、銀と銅を58％前後混合しています。金と銀は金属としては柔らかいため、
          銅を混ぜることで強度を上げていますが、それでも一般的なK10は変形しやすく、ジュエリーとして扱う際には注意が必要です。<br>
          MONATELIERのジュエリーに使用されている特別なK10は、日常的に身に着けても変形しにくい素材のため、安心して永くご愛用いただけます。<br>
           <br>
          同じ圧力をかけた際の変形度合いの違い<br>
          一般的なK10が3.86kgで20％変形するのに対し、モナトリエで採用しているK10はほとんど変形が見られませんでした。 (山梨県産業技術センターが試験を実施)<br>
        </p>
      </div>
      <div class="about_jikin">
        <div>
          <div><img src="{{ 'about_04_pc.jpg' | asset_img_url: 'master' }}" class="pc"><img src="{{ 'about_04_sp.jpg' | asset_img_url: 'master' }}" class="sp"></div>
          <p class="about_jikin_image_caption">通常K10：約4kgの加重で20%変形</p>
        </div>
        <div>
          <div>
            <div><img src="{{ 'about_05_pc.jpg' | asset_img_url: 'master' }}" class="pc"><img src="{{ 'about_05_sp.jpg' | asset_img_url: 'master' }}" class="sp"></div>
          </div>
          <p class="about_jikin_image_caption">モナトリエK10：同じ加重でほぼ変化なし</p>
        </div>
      </div>
    </div>

    <!--description-->
    <div class="content">
      <div>
        <div class="caption_lv1">
          <h3><ls-static-220189>「ニッケル」・フリー</ls-static-220189></h3>
        </div>
        <p><ls-static-289632>「ニッケル」はK１０に混合することにより、製造の際に作業性の向上を図ることができる金属です。ところがニッケルは「アレルゲン」であるため、直接肌に触れると「かぶれ」などのトラブルを引き起こすことがあり、
          また近年では「発ガン性」も指摘されています。</ls-static-289632> <br>
			<ls-static-564583>モナトリエでは、ニッケルなどのアレルゲン、発ガン物質は、素材、加工材料などに一切使用しておりません。</ls-static-564583></p>
      </div>
    </div>
    
    <!-- wide image -->
    <div class="pc">
      <div class="content">
        <div class="content_wide_image about_new">
          {{ 'about_06_pc.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>
    <div class="sp">
      <div class="content">
        <div class="content_wide_image about_new">
          {{ 'about_06_sp.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>

    <div class="content">
      <div class="btn_right">
        <a href="https://monatelier-jewelry.com/collections/all?pf_t_su_cai_material=K10"><span><ls-static-836880>地金を使用した商品一覧へ</ls-static-836880></span><br>
        <span><ls-static-12139>VIEW ALL</ls-static-12139></span></a>
      </div>
    </div>
    
    <div class="content about_new_content02_wapper" id="equipment">
      <h3><ls-static-485555>品質のための機器</ls-static-485555></h3>
      <div class="about_new_content02">
        <div><div>{{ 'material_kiki01.jpg' | asset_img_url: 'master' | img_tag }}</div><p><ls-static-369095>ダイヤモンド検査機1</ls-static-369095></p></div>
        <div><div>{{ 'material_kiki02.jpg' | asset_img_url: 'master' | img_tag }}</div><p><ls-static-840169>ダイヤモンド検査機2</ls-static-840169></p></div>
        <div><div>{{ 'material_kiki03.jpg' | asset_img_url: 'master' | img_tag }}</div><p><ls-static-623752>金含有率検査機</ls-static-623752></p></div>
        <div><div>{{ 'material_kiki04.jpg' | asset_img_url: 'master' | img_tag }}</div><p><ls-static-61222>自社キャスト機材</ls-static-61222></p></div>
        <div><div>{{ 'material_kiki05.jpg' | asset_img_url: 'master' | img_tag }}</div><p><ls-static-141349>レーザー刻印機</ls-static-141349></p></div>
        <div><div>{{ 'material_kiki06.jpg' | asset_img_url: 'master' | img_tag }}</div><p><ls-static-425953>マイクロセッティング機</ls-static-425953></p></div>
        <div><div>{{ 'material_kiki08.jpg' | asset_img_url: 'master' | img_tag }}</div><p><ls-static-361723>硬化処理機</ls-static-361723></p></div>
        <div><div>{{ 'material_kiki07.jpg' | asset_img_url: 'master' | img_tag }}</div><p><ls-static-353567>最新型CAD造形機</ls-static-353567></p></div>
      </div>
    </div>

  </div><!--#about-->

{% schema %}
{
    "name": "Main Menu",
    "settings": [
        {
            "type": "link_list",
            "id": "main_linklist",
            "label": "Menu",
            "default": "main-menu"
        }
    ]
}
  {% endschema %}
