  <div id="about">
    <!-- collection image -->
    <div class="pc">
      <div class="wide-content wide-content-image-position">
        <div class="wide-content-image">
          {{ 'about_mv_pc.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>

    <div class="sp">
        <div class="wide-content wide-content-image-position">
          <div class="wide-content-image">
          {{ 'about_mv_sp.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>

    <!-- title -->
    <div class="content">
      <div class="title">
        <h3><ls-static-524639>素材について</ls-static-524639></h3>
        <p><ls-static-359307>MATERIAL</ls-static-359307></p>
      </div>
    </div>

    <div class="content">
      <div class="about_link_nav cssreset">
        <div><h3><ls-static-82474>ダイヤモンド</ls-static-82474></h3><p><ls-static-459121>DIAMOND</ls-static-459121></p></div>
        <div><h3><ls-static-327478>検査機器</ls-static-327478></h3><p><ls-static-747608>MACHINE</ls-static-747608></p></div>
        <div><h3><ls-static-589465>地金</ls-static-589465></h3><p><ls-static-765752>BULLION</ls-static-765752></p></div>
      </div>
    </div>

    <!--description-->
    <div class="content about_diamond">
      <div>
        <div class="caption_lv1">
          <h3><ls-static-54734>ダイヤモンド</ls-static-54734></h3>
        </div>
        <p class="about_diamond_block01">          MONATELIERでは、すべてのジュエリーに天然ダイヤモンドを使用しています。<br>
          ダイヤモンドのグレードは、最も高いコストパフォーマンスを発揮する品質として<br class="pc">
          「I1 Gカラー Goodカット」を採用。<br>
          <br>
          またMONATELIERでは、代表自らがインド・ムンバイにあるダイヤモンド取引所に赴き、デビアス社の原石供給先である大手ダイヤモンド研磨会社より、直接ダイヤモンドを購入。主要な材料は中間会社を通さず、直接仕入れることでコストカットを図り、<br class="pc">
          商品価格に反映させています。<br>
          また、デビアス社の正規ルートより仕入れることで、コンフリクトダイヤモンド(*1)や<br class="pc">
          合成ダイヤモンドの混入を防止。<br>
          <br>
          そしてダイヤモンドの選別は、世界基準であるGIA(*2)のダイヤモンド鑑定資格を持つスタッフが行い、ジュエリーには規定品質のダイヤモンドだけを使用しています。
        </p>
      </div>
      <div>
        <img src="{{ 'about_01_pc.jpg' | asset_img_url: 'master' }}" class="pc">
        <img src="{{ 'about_01_sp.jpg' | asset_img_url: 'master' }}" class="sp">
      </div>
    </div>

    <!--description-->
    <div class="content">
      <div>
        <p class="description_small"><ls-static-217351>(*1) コンフリクトダイヤモンド：ダイヤモンドカルテルであるデビアス社の正規ルートを経ないダイヤモンドには、内戦国などから抗争資金を得るために不正に輸出されたダイヤモンドが混入している可能性が高い、と言われています。</ls-static-217351><br>
        <ls-static-140185>(*2)GIA：世界のダイヤモンド取引に用いられる基準を提供している非営利組織です。通常GIAの鑑定がないダイヤモンドは取引対象になりません。</ls-static-140185></p>
      </div>
    </div>

    <!-- wide image -->
    <div class="pc">
      <div class="content">
        <div class="content_wide_image about_new">
          {{ 'about_03_pc.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>
    <div class="sp">
      <div class="content">
        <div class="content_wide_image">
          {{ 'about_03_sp.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>

    <div class="content">
      <div class="btn_right">
        <a href=""><span><ls-static-214043>ダイヤモンドを使用した商品一覧へ</ls-static-214043></span><br>
        <span><ls-static-37133>VIEW ALL</ls-static-37133></span></a>
      </div>
    </div>

    <div class="content about_new_content02_wapper">
      <h3><ls-static-485555>品質のための機器</ls-static-485555></h3>
      <div class="about_new_content02">
        <div><div>{{ 'material_kiki01.jpg' | asset_img_url: 'master' | img_tag }}</div><p>ダイヤモンド検査機1</p></div>
        <div><div>{{ 'material_kiki02.jpg' | asset_img_url: 'master' | img_tag }}</div><p>ダイヤモンド検査機2</p></div>
        <div><div>{{ 'material_kiki03.jpg' | asset_img_url: 'master' | img_tag }}</div><p>金含有率検査機</p></div>
        <div><div>{{ 'material_kiki04.jpg' | asset_img_url: 'master' | img_tag }}</div><p>自社キャスト機材</p></div>
        <div><div>{{ 'material_kiki05.jpg' | asset_img_url: 'master' | img_tag }}</div><p>レーザー刻印機</p></div>
        <div><div>{{ 'material_kiki06.jpg' | asset_img_url: 'master' | img_tag }}</div><p>マイクロセッティング機</p></div>
        <div><div>{{ 'material_kiki07.jpg' | asset_img_url: 'master' | img_tag }}</div><p>硬化処理機</p></div>
        <div><div>{{ 'material_kiki08.jpg' | asset_img_url: 'master' | img_tag }}</div><p>最新型CAD造形機</p></div>
      </div>
    </div>

    <!--description-->
    <div class="content">
      <div>
        <div class="caption_lv1">
          <h3><ls-static-507821>地金</ls-static-507821></h3>
        </div>
        <p>
          MONATELIERでは、すべてのジュエリーに天然ダイヤモンドを使用しています。<br>
          ダイヤモンドのグレードは、最も高いコストパフォーマンスを発揮する品質として<br class="pc">
          「I1 Gカラー Goodカット」を採用。<br>
          <br>
          またMONATELIERでは、代表自らがインド・ムンバイにあるダイヤモンド取引所に赴き、デビアス社の原石供給先である大手ダイヤモンド研磨会社より、直接ダイヤモンドを購入。主要な材料は中間会社を通さず、直接仕入れることでコストカットを図り、<br class="pc">
          商品価格に反映させています。<br>
          また、デビアス社の正規ルートより仕入れることで、コンフリクトダイヤモンド(*1)や<br class="pc">
          合成ダイヤモンドの混入を防止。<br>
          <br>
          そしてダイヤモンドの選別は、世界基準であるGIA(*2)のダイヤモンド鑑定資格を持つスタッフが行い、ジュエリーには規定品質のダイヤモンドだけを使用しています。
        </p>
      </div>
      <div class="about_jikin">
        <div>
          <div><img src="{{ 'about_04_pc.jpg' | asset_img_url: 'master' }}" class="pc"><img src="{{ 'about_04_sp.jpg' | asset_img_url: 'master' }}" class="sp"></div>
          <p class="about_jikin_image_caption"><ls-static-382812>通常K10:kgて10％変形</ls-static-382812></p>
        </div>
        <div>
          <div>
            <div><img src="{{ 'about_05_pc.jpg' | asset_img_url: 'master' }}" class="pc"><img src="{{ 'about_05_sp.jpg' | asset_img_url: 'master' }}" class="sp"></div>
          </div>
          <p class="about_jikin_image_caption"><ls-static-699748>モナトリエK10:kgにて10％変形</ls-static-699748></p>
        </div>
      </div>
    </div>

    <!--description-->
    <div class="content">
      <div>
        <div class="caption_lv1">
          <h3><ls-static-220189>「ニッケル」・フリー</ls-static-220189></h3>
        </div>
        <p><ls-static-229495>「ニッケル」はK１０に混合することにより、製造の際に作業性の向上を図ることができる金属です。ところがニッケルは「アレルゲン」であるため、直接肌に触れると「かぶれ」などのトラブルを引き起こすことがあり、また近年では「発ガン性」も指摘されています。</ls-static-229495><br>
        <ls-static-534918>モナトリエでは、ニッケルなどのアレルゲン、発ガン物質は、素材、加工材料などに一切使用しておりません。</ls-static-534918></p>
      </div>
    </div>

    <!-- wide image -->
    <div class="pc">
      <div class="content">
        <div class="content_wide_image about_new">
          {{ 'about_06_pc.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>
    <div class="sp">
      <div class="content">
        <div class="content_wide_image about_new">
          {{ 'about_06_sp.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>

    <div class="content">
      <div class="btn_right">
        <a href=""><span><ls-static-836880>地金を使用した商品一覧へ</ls-static-836880></span><br>
        <span><ls-static-12139>VIEW ALL</ls-static-12139></span></a>
      </div>
    </div>

  </div><!--#about-->

{% schema %}
{
    "name": "Main Menu",
    "settings": [
        {
            "type": "link_list",
            "id": "main_linklist",
            "label": "Menu",
            "default": "main-menu"
        }
    ]
}
  {% endschema %}
