<div class="pc">
  <div class="wide-content wide-content-image-position">
    <div class="wide-content-image">
      {{ 'as_mv_pc.jpg' | asset_img_url: 'master' | img_tag }}
    </div>
  </div>
</div>

<div class="sp">
  <div class="wide-content wide-content-image-position">
    <div class="wide-content-image">
      {{ 'as_mv_sp.jpg' | asset_img_url: 'master' | img_tag }}
    </div>
  </div>
</div>

<!-- title -->
<div class="content">
  <div class="title">
    <h3><ls-static-524639>アフターサービス</ls-static-524639></h3>
    <p><ls-static-359307>AFTER SERVICE</ls-static-359307></p>
  </div>
</div>

<div class="content">
  <div class="guide-wrap">
    <div class="sidebar pc">
      <div class="widget widget--sticky">
        <div class="">
            <ul>
              <li>
                <a href="#afterservice01">
                  <div class="sg_sidenav_list">
                    <span>
                      修理
                    </span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#afterservice02">
                  <div class="sg_sidenav_list">
                    <span>
                      保証期間内の修理
                    </span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#afterservice03">
                  <div class="sg_sidenav_list">
                    <span>
                      保証期間外の修理
                    </span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#afterservice04">
                  <div class="sg_sidenav_list">
                    <span>
                      メンテンナンス
                    </span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#afterservice05">
                  <div class="sg_sidenav_list">
                    <span>
                      クリーニング
                    </span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#afterservice06">
                  <div class="sg_sidenav_list">
                    <span>
                      お問い合わせについて
                    </span>
                  </div>
                </a>
              </li>
            </ul>
        </div>
      </div>
    </div>

    <div class="shoppingguide-menu-sp">
      <div class="shoppingguide-menu-wrap">
        <div class="">
            <ul>
              <li>
                <a href="#afterservice01">
                  <div class="sg_sidenav_list">
                    <span>
                      修理
                    </span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#afterservice0102">
                  <div class="sg_sidenav_list">
                    <span>
                      保証期間内の修理
                    </span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#afterservice0103">
                  <div class="sg_sidenav_list">
                    <span>
                      保証期間外の修理
                    </span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#afterservice04">
                  <div class="sg_sidenav_list">
                    <span>
                      メンテナンス
                    </span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#afterservice05">
                  <div class="sg_sidenav_list">
                    <span>
                      クリーニング
                    </span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#afterservice0106">
                  <div class="sg_sidenav_list">
                    <span>
                      お問い合わせについて
                    </span>
                  </div>
                </a>
              </li>
            </ul>
        </div>
      </div>
    </div><!-- shoppingguide-menu-sp -->

    <div class="main fadein scrollin">
      <!--修理-->
      <div class="sg_section">
        <div id="afterservice01">
          <h3>修理</h3>
          <p>
          	お買い上げ商品と日付の入った「保証書」を発行しています。お買い上げから３ヶ月間、無償にて修理を承ります。<br>
			製品は万全の検品体制を取っておりますが万が一不備があった場合には、大変恐れ入りますがご連絡をいただけますようお願い申しあげます。
          </p>
        </div>
      </div>
      <!--修理-->

      <!--保証期間内の修理-->
      <div class="sg_section">
        <div id="afterservice02">
          <h3>保証期間内の修理</h3>
          <p>お買い上げから３ヶ月間、無償にて修理を承ります。
            リングのサイズ直しに関しては１回のみとさせていただきます。
            また、お客様のご使用状況により修理が発生した場合には代金をご請求する場合がございます。悪しからずご了承ください。</p>
        </div>
      </div>
      <!--保証期間内の修理-->

      <!--保証期間が過ぎている場合の修理-->
      <div class="sg_section">
        <div id="afterservice03">
          <h3>保証期間が過ぎている場合の修理</h3>
          <p>保証期間が過ぎている場合には、有償にて修理を承ります。恐れ入りますが<a href="mailto:info@monatelier-jewelry.com" style="text-decoration:underline;">こちら</a>へメールにてご連絡の上、当該製品をお送りいただけますようお願い申しあげます。<br>
            修理費用は製品の状況を確認の上お見積もりさせていただきます。</p>
          </div>
        </div>
      <!--保証期間が過ぎている場合の修理-->

      <!--メンテナンス-->
      <div class="sg_section">
        <div id="afterservice04">
          <h3>メンテナンス</h3>
          <p>MONATELIER-モナトリエ-のジュエリーは適切なメンテナンスを施すことで一生お使いいただくことが可能です。<br>
			快適にお使いいただくためにも、定期的なメンテナンスをお勧めします。<br>
            リングの歪み、宝石を留めているツメの緩み、表面の傷などは仕上げ直しをすることで、ジュエリーは新品同様の輝きを取り戻します。ぜひご用命ください。</p>
        </div>
      </div>
      <!--メンテナンス-->

      <!--クリーニング-->
      <div class="sg_section">
        <div id="afterservice05">
          <h3>クリーニング</h3>
          <p>快適なジュエリーライフのためにご自分でのクリーニングもお勧めしていますが、汚れが気になる場合には超音波洗浄機によるクリーニングも有償にて承ります。</p>
        </div>
      </div>
      <!--クリーニング-->
    
      <!--製品・サービスに関するお問い合わせ-->
      <div class="sg_section">
        <div id="afterservice06">
          <h3>製品・サービスに関するお問い合わせ</h3>
          <p>info@monatelier-jewelry.com</p>
        </div>
      </div>
      <!--製品・サービスに関するお問い合わせ-->
      
    </div><!--main fadein scrollin-->
  </div><!--guide-wrap-->
</div><!--content-->

<style>
  .guide-wrap .main h3 {
    font-size: 26px;
    font-weight: 400;
    margin-top: 0;
    color: #717171;
  }
  .sg_section {
      margin-bottom: 75px;
  }
@media screen and (max-width: 768px) {
  .shoppingguide-menu-sp {
      display: block;
      padding: 0;
  }
  .guide-wrap ul {
      margin-left: 0;
  }
  .guide-wrap .main h3 {
      font-size: 16px;
  }
  .guide-wrap .main p {
      font-size: 12px;
  }
  .sg_section {
      margin-bottom: 45px;
  }
}
</style>


{% comment %} <div class="bread-pages">
  <a href="{{ routes.root_url }}">{{ 'general.site.top' | t }}</a> <span>＞</span> <a href="/pages/shoppingguide">{{ 'general.site.shoppingguide' | t }}</a> <span>＞</span> {{ page.title}}
</div> {% endcomment %}


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
