<div class="pc">
  <div class="wide-content wide-content-image-position">
    <div class="wide-content-image">
      {{ 'sg_mv_pc.jpg' | asset_img_url: 'master' | img_tag }}
    </div>
  </div>
</div>

<div class="sp">
  <div class="wide-content wide-content-image-position">
    <div class="wide-content-image">
      {{ 'sg_mv_sp.jpg' | asset_img_url: 'master' | img_tag }}
    </div>
  </div>
</div>

<div class="content">
  <div class="guide-wrap">
    <div class="sidebar pc">
      <div class="widget widget--sticky">
        <div class="">
            <ul>
              <li>
                <a href="#order">
                  <div class="sg_sidenav_list">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.876" height="18.321" viewBox="0 0 10.876 18.321">
                      <path id="前面オブジェクトで型抜き_5" data-name="前面オブジェクトで型抜き 5" d="M1,16.923H1l-1-1L7.461,8.462,0,1,1,0,9.461,8.462,1,16.922Z" transform="translate(0.707 0.707)" fill="#e4e4e4" stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"/>
                    </svg>
                    <span>
                      修理
                    </span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#payment">
                  <div class="sg_sidenav_list">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.876" height="18.321" viewBox="0 0 10.876 18.321">
                      <path id="前面オブジェクトで型抜き_5" data-name="前面オブジェクトで型抜き 5" d="M1,16.923H1l-1-1L7.461,8.462,0,1,1,0,9.461,8.462,1,16.922Z" transform="translate(0.707 0.707)" fill="#e4e4e4" stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"/>
                    </svg>
                    <span>
                      保証期間内の修理
                    </span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#shipping">
                  <div class="sg_sidenav_list">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.876" height="18.321" viewBox="0 0 10.876 18.321">
                      <path id="前面オブジェクトで型抜き_5" data-name="前面オブジェクトで型抜き 5" d="M1,16.923H1l-1-1L7.461,8.462,0,1,1,0,9.461,8.462,1,16.922Z" transform="translate(0.707 0.707)" fill="#e4e4e4" stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"/>
                    </svg>
                    <span>
                      保証期間が過ぎている場合の修理
                    </span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#returns">
                  <div class="sg_sidenav_list">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.876" height="18.321" viewBox="0 0 10.876 18.321">
                      <path id="前面オブジェクトで型抜き_5" data-name="前面オブジェクトで型抜き 5" d="M1,16.923H1l-1-1L7.461,8.462,0,1,1,0,9.461,8.462,1,16.922Z" transform="translate(0.707 0.707)" fill="#e4e4e4" stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"/>
                    </svg>
                    <span>
                      ご返品について
                    </span>
                  </div>
                </a>
              </li>
            </ul>
        </div>
      </div>
    </div>

    <div class="shoppingguide-menu-sp">
      <div class="shoppingguide-menu-wrap">
        <div class="">
            <ul>
              <li>
                <a href="#order">
                  <div class="sg_sidenav_list">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.876" height="18.321" viewBox="0 0 10.876 18.321">
                      <path id="前面オブジェクトで型抜き_5" data-name="前面オブジェクトで型抜き 5" d="M1,16.923H1l-1-1L7.461,8.462,0,1,1,0,9.461,8.462,1,16.922Z" transform="translate(0.707 0.707)" fill="#e4e4e4" stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"/>
                    </svg>
                    <span>
                      修理
                    </span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#payment">
                  <div class="sg_sidenav_list">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.876" height="18.321" viewBox="0 0 10.876 18.321">
                      <path id="前面オブジェクトで型抜き_5" data-name="前面オブジェクトで型抜き 5" d="M1,16.923H1l-1-1L7.461,8.462,0,1,1,0,9.461,8.462,1,16.922Z" transform="translate(0.707 0.707)" fill="#e4e4e4" stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"/>
                    </svg>
                    <span>
                      保証期間内の修理
                    </span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#shipping">
                  <div class="sg_sidenav_list">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.876" height="18.321" viewBox="0 0 10.876 18.321">
                      <path id="前面オブジェクトで型抜き_5" data-name="前面オブジェクトで型抜き 5" d="M1,16.923H1l-1-1L7.461,8.462,0,1,1,0,9.461,8.462,1,16.922Z" transform="translate(0.707 0.707)" fill="#e4e4e4" stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"/>
                    </svg>
                    <span>
                      保証期間が過ぎている場合の修理
                    </span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#returns">
                  <div class="sg_sidenav_list">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.876" height="18.321" viewBox="0 0 10.876 18.321">
                      <path id="前面オブジェクトで型抜き_5" data-name="前面オブジェクトで型抜き 5" d="M1,16.923H1l-1-1L7.461,8.462,0,1,1,0,9.461,8.462,1,16.922Z" transform="translate(0.707 0.707)" fill="#e4e4e4" stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"/>
                    </svg>
                    <span>
                      ご返品について
                    </span>
                  </div>
                </a>
              </li>
            </ul>
        </div>
      </div>
    </div><!-- shoppingguide-menu-sp -->

    <div class="main fadein scrollin">
      <!--修理-->
      <div class="sg_section">
        <div id="order" class="page-jump">
          <h3>修理</h3>
          <p>
          	お買い上げ商品と日付の入った「保証書」を発行しています。お買い上げから３ヶ月間、無償にて修理を承ります。<br>
			製品は万全の検品体制を取っておりますが万が一不備があった場合には、大変恐れ入りますがご連絡をいただけますようお願い申しあげます。
          </p>
        </div>
      </div>
      <!--修理-->

      <!--保証期間内の修理-->
      <div class="sg_section">
        <div id="payment" class="page-jump">
          <h3>保証期間内の修理</h3>
          <p>お買い上げから３ヶ月間、無償にて修理を承ります。
            リングのサイズ直しに関しては１回のみとさせていただきます。
            また、お客様のご使用状況により修理が発生した場合には代金をご請求する場合がございます。悪しからずご了承ください。</p>
        </div>
      </div>
      <!--保証期間内の修理-->

      <!--保証期間が過ぎている場合の修理-->
      <div class="sg_section">
        <div id="shipping" class="page-jump">
          <h3>保証期間が過ぎている場合の修理</h3>
          <p>保証期間が過ぎている場合には、有償にて修理を承ります。恐れ入りますがこちらへメールにてご連絡の上、当該製品をお送りいただけますようお願い申しあげます。<br>
            修理費用は製品の状況を確認の上お見積もりさせていただきます。</p>
          </div>
        </div>
      </div>
    	<!--保証期間が過ぎている場合の修理-->

    	<!--メンテナンス-->
      <div class="sg_section">
        <div id="date" class="page-jump">
          <h3>メンテナンス</h3>
          <p>MONATELIER-モナトリエ-のジュエリーは適切なメンテナンスを施すことで一生お使いいただくことが可能です。<br>
			快適にお使いいただくためにも、定期的なメンテナンスをお勧めします。<br>
            リングの歪み、宝石を留めているツメの緩み、表面の傷などは仕上げ直しをすることで、ジュエリーは新品同様の輝きを取り戻します。ぜひご用命ください。</p>
      </div>
      <!--メンテナンス-->

      <!--ご返品について-->
      <div class="sg_section">
        <div id="returns" class="page-jump">
          <h2>ご返品について</h2>
          <h3>返品・交換でのお願い</h3>
          <p>お手元に届きました商品は、必ずすぐに、以下のことをご確認くださいませ。</p>
          <ul>
          <li>商品に不良箇所がないか</li>
          <li>ご注文内容に誤りがないか</li>
          <li>サイズが合っているか</li>
          </ul>
          <p>ご到着された商品に気になる点がございましたら、必ず到着後1週間以内にカスタマーサポートまでご連絡ください。<br>折り返し、返品交換の手続きをご連絡いたします。</p>
        </div>

        <div id="cannot" class="page-jump">
          <h3>返品・交換できないもの</h3>
          <ul>
          <li>回数にかかわらずご使用になられたもの</li>
          <li>汚損、破損のあるもの</li>
          <li>商品到着から1週間以上経過した場合や、弊社からご案内する商品返送期間を過ぎた場合</li>
          <li>ご連絡が無い状態で返送された場合</li>
          </ul>
        </div>

        <div id="aboutreturn" class="page-jump">
          <h3>返品について</h3>
          <p>到着後1週間以内にカスタマーサポートまでご連絡ください。折り返し、返品の手続きをご連絡いたします。<br>ジュエリーはとてもデリケートなため、ちょっとしたことでもキズが付いてしまいます。ご返品される場合は、お取り扱いに十分ご注意いただき、ご返送をお願いいたします。</p>
          <div class="johnson-box">
            <p><strong>ご注意事項</strong></p>
            <ul>
            <li>受注生産品、カスタムオーダー商品（チェーンの太さや長さの変更、プレートの変更など）はご注文者さまの特注品として製作しております。<br>返品の場合は製作時の工賃・材料に分解・再製錬する工賃と手数料として、￥8,000を頂きます。</li>
            <li>返送にあたっては、お届けしたそのままの状態でお戻しください。（ギフトボックスや鑑定書など）</li>
            <li>ご返送の際は、紛失・破損の保障付き/荷物の追跡可能な、宅急便・ゆうパックなどをご利用ください。また、送り状の控えは、全ての返品手続きが終わるまで必ず保管しておいてください。</li>
            <li>返品手続きはご注文者様と行っております。返金処理等のご案内もございますので、贈り物として受け取った場合でも、必ずご注文者様からご連絡ください。</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="sg_section">
        <div id="aboutchange" class="page-jump">
          <h2>交換について</h2>
          <p>なお、【地金色の交換】につきましては、交換希望の地金色に在庫のご用意がある場合のみ承ります。<br>
          ご希望の地金に在庫のご用意がない場合は、ご交換をお受けすることが出来かねます。ご希望の場合は、一度お品物を返品し、再度ご希望の地金にてご注文くださいますようお願いいたします。<br>
          <br>
          例：<br>
          注文品はYGだが、在庫のあるPGに交換したい。→可<br>
          注文品はYGだが、在庫のないWGに交換したい。→不可（返品→再注文）</p>
          <br>
          <div class="johnson-box">
            <p><strong>ご注意事項</strong></p>
            <ul>
            <li>受注生産品の返品は【有料】となります。</li>
            <li>返送にあたっては、お届けしたそのままの状態でお戻しください。（ギフトボックスや鑑定書など）</li>
            <li>ご返送の際は、紛失・破損の保障付き/荷物の追跡可能な、宅急便・ゆうパックなどをご利用ください。また、送り状の控えは、全ての交換手続きが終わるまで必ず保管しておいてください。</li>
            <li>贈り物として受け取っている場合も、ご注文者様のお名前をお知らせください。<br>（交換がスムーズにできますよう、商品のご注文状況を確認させていただきます。）</li>
            <li>お値段の異なる商品と交換をご希望の場合は、システムの都合上、いったん返品していただき、ご希望商品の再注文をお願いしております。</li>
            <li>お値段が同じでも商品自体が異なる交換をご希望の場合は、システムの都合上、いったん返品していただき、ご希望商品の再注文をお願いしております。</li>
            </ul>
          </div>
        </div>

        <div id="difective" class="page-jump">
          <h3>不良品・誤配送について</h3>
          <p>商品の検品には十分注意しておりますが、 万が一商品に不具合・間違いがあった場合は、お早めにご連絡ください。早急に新しい商品にお取り換えいたします。</p>
        </div>

        <div id="refund" class="page-jump">
          <h3>返金について</h3>
          <p>「サイズが合わない」 「イメージと違う」 「注文を間違えた」 などお客様都合でのご返品で、返金手続きの際に手数料が発生する場合、手数料はお客様ご負担となります。予めご了承くださいませ。<br>また、ご注文時のお支払方法により、返金方法が異なります。<br><br>クレジットカード決済の場合 クレジットカードの請求を止める手続きをいたします。 お客様のクレジットカード会社の締め日によっては、一度決済がかかることがございますが、翌月にクレジットカード会社よりご返金、またはご利用分から差し引きとなります。<br>※クレジット決済の場合、現金や振り込みでの返金は行っておりません。<br><br>クレジットカード決済以外の場合 銀行振り込みで返金いたします。<br>下記の内容をご連絡ください。<br>銀行名 / 支店名 / 口座種別 / 口座番号 / 口座名義人（フリガナ）</p>
        </div>

        <div id="cancel" class="page-jump">
          <h3>キャンセルについて</h3>
          <p>在庫のある商品の場合は、当日の13時までにご連絡下さい。<br>13時以降のご注文であれば、翌営業日の13時までにご連絡下さい。<br>※メールでのご連絡ですと、対応が間に合わない場合もございます。お急ぎの際はお電話にてご連絡下さい。<br><br>在庫のない商品（受注品・カスタムオーダー商品）は、必ずご注文日より3日以内にご連絡ください。<br>
          それ以後のお申し出は、製作が進行してしまうため、材料に分解・再精錬する工賃と手数料として￥8,000をいただきます。）</p>
          <div class="johnson-box">
            <p><strong>ご注意事項</strong></p>
            <p>「商品発送後のキャンセル」「長期不在」「受取拒否」などによる返品はお受けいたしかねます。<br>この場合、往復送料、実損額￥8,000（製作時の工賃・材料に分解・再製錬する工賃）をご請求させていただきます。</p>
          </div>
        </div>

      </div>
      <!--ご返品について-->
    </div><!--main fadein scrollin-->
  </div><!--guide-wrap-->
</div><!--content-->


{% comment %} <div class="bread-pages">
  <a href="{{ routes.root_url }}">{{ 'general.site.top' | t }}</a> <span>＞</span> <a href="/pages/shoppingguide">{{ 'general.site.shoppingguide' | t }}</a> <span>＞</span> {{ page.title}}
</div> {% endcomment %}


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
