{%- paginate blog.articles by 10 -%}

<div data-section-id="{{ section.id }}" data-section-type="blog">
  <div class="page-width narrow page-content">


    <header class="section-header{% if section.settings.blog_show_tag_filter and blog.tags.size > 0 %}{% unless settings.type_headers_align_text %} section-header--with-link{% endunless %}{% endif %}">
      <h1 class="section-header__title">
        {{ 'general.site.column' | t }}
        {%- if section.settings.blog_show_rss -%}
          <a href="{{ shop.url }}{{ blog.url }}.atom" class="rss-link">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-rss" viewBox="0 0 20 20"><path fill="#444" d="M5.903 16.586a2.489 2.489 0 1 1-4.977 0 2.489 2.489 0 0 1 4.977 0zM12.956 19.075H9.43c0-4.688-3.817-8.505-8.505-8.505V7.044c6.638 0 12.031 5.393 12.031 12.031z"/><path fill="#444" d="M15.445 19.075c0-8.028-6.493-14.52-14.52-14.52V.925c10.019 0 18.15 8.131 18.15 18.15h-3.63z"/></svg>
          </a>
        {%- endif -%}
      </h1>
      <span>{{ 'general.pages.column' | t }}</span>
      
      
        {% assign pageurl = content_for_header| split:'"pageurl":"' | last | split:'"' | first %}
        {% assign sourceurl = pageurl | remove: "monatelier-jewelry.com\/" %}
        {% assign productid = sourceurl | remove: "id=" %}

<div class="blog-tag-list medium--hide">
  <div class="blog-list-top">
  <div class="blog-tag {% if sourceurl == "blogs\/post" or sourceurl == "en\/blogs\/post"  or sourceurl == "zh-TW\/blogs\/post"  or sourceurl == "zh-CN\/blogs\/post" or sourceurl == "zh-tw\/blogs\/post"  or sourceurl == "zh-cn\/blogs\/post" %}is-active{% endif %}">
    <a href="/blogs/post"><ls-static-839028>全てのコラム</ls-static-839028></a>
  </div>
  <div class="blog-tag {% if sourceurl contains "/%E3%83%8B%E3%83%A5%E3%83%BC%E3%82%B9" %}is-active{% endif %}">
    <a href="/blogs/post/tagged/jewelry"><ls-static-805245>ニュース</ls-static-805245></a>
  </div>
  <div class="blog-tag {% if sourceurl contains "/%E3%83%A1%E3%83%87%E3%82%A3%E3%82%A2%E6%83%85%E5%A0%B1" %}is-active{% endif %}">
    <a href="/blogs/post/tagged/media"><ls-static-313215>メディア情報</ls-static-313215></a>
  </div>
  </div>
  <div class="blog-list-bottom">
  <div class="blog-tag {% if sourceurl contains "/%E5%95%86%E5%93%81%E8%A3%BD%E4%BD%9C%E3%81%AE%E5%B0%8F%E8%A9%B1" %}is-active{% endif %}">
    <a href="/blogs/post/tagged/info"><ls-static-990253>商品製作の小話</ls-static-990253></a>
  </div>
  <div class="blog-tag {% if sourceurl contains "/スタッフブログ" %}is-active{% endif %}">
    <a href="/blogs/post/tagged/about"><ls-static-6673>スタッフブログ</ls-static-6673></a>
  </div>
  </div>
</div>
<div class="blog-tag-list small--hide">
  <div class="blog-tag {% if sourceurl == "blogs\/post" or sourceurl == "en\/blogs\/post"  or sourceurl == "zh-TW\/blogs\/post"  or sourceurl == "zh-CN\/blogs\/post" or sourceurl == "zh-tw\/blogs\/post"  or sourceurl == "zh-cn\/blogs\/post"  %}is-active{% endif %}">
    <a href="/blogs/post"><ls-static-500517>全てのコラム</ls-static-500517></a>
  </div>
  <div class="blog-tag {% if sourceurl contains "/%E3%83%8B%E3%83%A5%E3%83%BC%E3%82%B9" %}is-active{% endif %}">
    <a href="/blogs/post/tagged/jewelry"><ls-static-913247>ニュース</ls-static-913247></a>
  </div>
  <div class="blog-tag {% if sourceurl contains "/%E3%83%A1%E3%83%87%E3%82%A3%E3%82%A2%E6%83%85%E5%A0%B1" %}is-active{% endif %}">
    <a href="/blogs/post/tagged/media"><ls-static-326375>メディア情報</ls-static-326375></a>
  </div>
  <div class="blog-tag {% if sourceurl contains "/%E5%95%86%E5%93%81%E8%A3%BD%E4%BD%9C%E3%81%AE%E5%B0%8F%E8%A9%B1" %}is-active{% endif %}">
    <a href="/blogs/post/tagged/info"><ls-static-862592>商品製作の小話</ls-static-862592></a>
  </div>
  <div class="blog-tag {% if sourceurl contains "/スタッフブログ" %}is-active{% endif %}">
    <a href="/blogs/post/tagged/about"><ls-static-965806>スタッフブログ</ls-static-965806></a>
  </div>
</div>
{% comment %}

      {%- if section.settings.blog_show_tag_filter and blog.tags.size > 0-%}
        <select id="BlogTagFilter">
          <option value="/blogs/{{ blog.handle }}">All</option>
          {%- for tag in blog.all_tags -%}
            {% if tag contains "_" %}{% comment ls-rpl %}{%- assign tag_starts_with = tag | slice: 0 -%}{% endcomment %}{%- capture LS_TAG -%}{%- render "ls-tag", tag: tag, resource: blog -%}{%- endcapture -%}{%- assign tag_starts_with = LS_TAG | slice: 0 -%}{% comment /ls-rpl %}{% endcomment %}{% if tag_starts_with == "_" %}{% if tag_count %}{%- assign tag_count = tag_count | minus: 1 | at_least: 0 -%}{% endif %}{% continue %}{% endif %}{% endif %}
            <option value="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" {% if current_tags contains tag %}selected{% endif %}>{% comment ls-rpl %}{{ tag }}{% endcomment %}{%- capture LS_TAG -%}{%- render "ls-tag", tag: tag, resource: blog -%}{%- endcapture -%}{{ LS_TAG }}{% comment /ls-rpl %}{% endcomment %}</option>
          {%- endfor -%}
        </select>
      {%- endif -%}
{% endcomment %}
    </header>

    <div class="grid grid--uniform">
      {%- for article in blog.articles -%}
        {%- render 'article-grid-item', article: article, grid_item_width: 'medium-up--one-third', per_row: '3', image_size: section.settings.blog_image_size -%}
      {%- endfor -%}
    </div>
    
    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}

  </div>
</div>


<div class="bread-pages">
  <a href="/">{{ 'general.site.top' | t }}</a> <span>＞</span> {{ 'general.site.column' | t }}
</div>
{%- endpaginate -%}

{% schema %}
  {
    "name": "Blog pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "blog_show_tag_filter",
        "label": "Show tag filter"
      },
      {
        "type": "checkbox",
        "id": "blog_show_rss",
        "label": "Show RSS link"
      },
      {
        "type": "checkbox",
        "id": "blog_show_tags",
        "label": "Show tags"
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_comments",
        "label": "Show comment count",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author"
      },
      {
        "type": "checkbox",
        "id": "blog_show_excerpt",
        "label": "Show excerpt"
      },
      {
        "type": "select",
        "id": "blog_image_size",
        "label": "Image size",
        "default": "wide",
        "options": [
          {
            "value": "natural",
            "label": "Natural"
          },
          {
            "value": "square",
            "label": "Square (1:1)"
          },
          {
            "value": "landscape",
            "label": "Landscape (4:3)"
          },
          {
            "value": "portrait",
            "label": "Portrait (2:3)"
          },
          {
            "value": "wide",
            "label": "Wide (16:9)"
          }
        ]
      }
    ]
  }
{% endschema %}
