<!-- footer -->
<div class="content">
  <div class="footer">

    <div class="footer_logo">
      <a href="{{ shop.url }}">
        <p class="logo">
          {{ 'logo.svg' | asset_url | img_tag }}
        </p>
      </a>
      <div class="social_row">
        <a href="https://instagram.com/shopify">
          <div>
            {{ 'insta_icon.svg' | asset_url | img_tag }}
          </div>
        </a>
        <a href="https://www.facebook.com/shopify">
          <div>
            {{ 'facebook_icon.svg' | asset_url | img_tag }}
          </div>
        </a>
        <a href="https://twitter.com/MONATELIERjewel">
          <div>
            {{ 'twitter_icon.svg' | asset_url | img_tag }}
          </div>
        </a>
      </div>
      <div class="btn_page_top tt_drugs_r">
        <a href="#">PAGE TOP</a>
      </div>
    </div>

      <div class="footer_nav cssreset">
        {% for link in linklists[section.settings.footer_menu01].links %}
        <div>
          <div class="footer_nav_title"><p>{{ link.title }}</p></div>
          <div>
            <ul class="footer_nav_list">
              {% for sub_link in link.footer_menu01 %}
              <li>{{ sub_link.title }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>


    <div class="footer_bottom">
      <div class="pc"><p class="allright">© 2021 J-one All Rights Reserved.</p></div>
      <div>
        <ul class="footer_bottom_nav">
          {% for link in linklists[section.settings.footer_menu02].links %}
            <li>{{ link.title }}</li>
          {% endfor %}
       </ul>
      </div>
      <div class="sp"><p class="allright">© 2021 J-one All Rights Reserved.</p></div>
    </div>
  </div>
</div>

</script>
{% schema %}
{
  "name": "Main Menu",
  "settings": [
      {
          "type": "link_list",
          "id": "footer_menu01",
          "label": "Menu01"
      },
      {
        "type": "link_list",
        "id": "footer_menu02",
        "label": "Menu02"
    }
  ]
}
{% endschema %}
