  <div id="concept">
    <!-- collection image -->
    <div class="pc">
      <div class="wide-content wide-content-image-position">
        <div class="wide-content-image">
          {{ 'concept_mv_pc.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>

    <div class="sp">
      <div class="wide-content wide-content-image-position">
        <div class="wide-content-image">
          {{ 'concept_mv_sp.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>

    <!-- title -->
    <div class="content">
      <div class="title">
        <h3><ls-static-862455>コンセプト</ls-static-862455></h3>
        <p><ls-static-643477>CONCEPT</ls-static-643477></p>
      </div>
    </div>

    <!--description-->
    <div class="content mb-80px">
      <div class="caption_lv1">
        <h3><ls-static-735179>日本一のコストパフォーマンス</ls-static-735179></h3>
      </div>
      <p><ls-static-842276>「日本一のコストパフォーマンス」は</ls-static-842276><br>
      <ls-static-195527>以下の３つの取り組みから生まれます。</ls-static-195527>
      </p>
    </div>

    <!--description-->
    <div class="content yu_gothic">
      <div class="indent_lv1">

        <div class="caption_lv2">
          <h3><ls-static-772071>工房直販</ls-static-772071></h3>
        </div>
        <p><ls-static-168020>モナトリエでは日本とタイの直営工房にて製作、直接販売しています。</ls-static-168020><br>
        <ls-static-621110>通常のジュエリー流通では中間メーカーや卸業者が介在しますが、モナトリエでは工房が直接販売しているため、品質と価格を高い次元で両立できています。</ls-static-621110>
        </p>

        <div class="caption_lv2">
          <h3><ls-static-285537>ダイヤモンドは直輸入</ls-static-285537></h3>
        </div>
        <p><ls-static-251119>モナトリエではダイヤモンドを、中間業者、輸入業者を通さず、インドの大手研磨工場から直接、大量に購入することで、高いコストパフォーマンスを実現しています。</ls-static-251119>
        </p>

        <div class="caption_lv2">
          <h3><ls-static-189578>ロット製作</ls-static-189578></h3>
        </div>
        <p><ls-static-613575>モナトリエでは割高になる単品の受注製作をせず、作業手順の同じ製品をロット製作することで製作コストと事務コストを必要最低限に抑制しています。また在庫を持つことで最短納期を可能にしています。</ls-static-613575>
        </p>

      </div>
    </div>

    <!-- wide image -->
    <div class="pc">
      <div class="content">
        <div class="content_wide_image">
          {{ 'concept_01_pc.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>

    <div class="sp">
      <div class="content">
        <div class="content_wide_image">
          {{ 'concept_01_sp.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
      </div>
    </div>

    <!-- policy -->
    <div class="content">
      <div class="column_col">
        <div class="title">
          <h3><ls-static-576200>ポリシー</ls-static-576200></h3>
          <p><ls-static-774041>POLICY</ls-static-774041></p>
        </div>
        <div class="caption_lv1">
          <h3><ls-static-233040>自分で買いたいと思うジュエリー</ls-static-233040></h3>
          <p>
            <ls-static-686842>私たちはジュエリー作りのプロフェッショナルだからこそ、ジュエリーに必要な品質はわかっていますし、削ってはいけないコストもわかっています。プロフェッショナルだからこそ、</ls-static-686842><br>
            <ls-static-870046>自分では欲しくないものを販売することはできません。</ls-static-870046>
          </p>
        </div>
      </div>
    </div>

    <!-- policy -->
    <div class="content kodawari">
      <div class="sp kodawari_image_sp">{{ 'concept_02_sp.jpg' | asset_img_url: 'master' | img_tag }}</div>
      <div class="col01">
        <h3 class="subtitle"><ls-static-722146>品質へのこだわり</ls-static-722146></h3>
        <p class="mb-75px text-18px"><ls-static-211052>QUALITY</ls-static-211052></p>
        <h3 class="mb-25px text-24px"><ls-static-478320>「品質」は「姿勢」から</ls-static-478320></h3>
        <p>
          <ls-static-179516>「品質」のためには職人の技術と経験が必要です。モナトリエの工房には、品質のための人材と経験が十分蓄積されています。しかし「品質」はそれだけで実現できることではありません。「品質」は、材料選別や原型製作、検品など関わるスタッフ全員の気持ちが「品質」に向いていて、はじめて実現できることなのです。</ls-static-179516><br>
          <ls-static-624176>「品質」は技術ではなく「姿勢」が実現するのです。</ls-static-624176>
        </p>
      </div>
      <div class="pc kodawari_image_pc">{{ 'concept_02_pc.jpg' | asset_img_url: 'master' | img_tag }}</div>
    </div>

  </div><!--#concept-->

{% schema %}
{
    "name": "Main Menu",
    "settings": [
        {
            "type": "link_list",
            "id": "main_linklist",
            "label": "Menu",
            "default": "main-menu"
        }
    ]
}
  {% endschema %}
