{%- liquid
  assign current_variant = product.selected_or_first_available_variant

  unless thumbnail_position
    assign thumbnail_position = 'beside'
  endunless

  unless description_style
    assign description_style = 'full'
  endunless

  assign product_zoom_size = '1800x1800'
  assign product_image_size = '620x'

  case image_container_width
    when 'small'
      assign product_image_width = 'medium-up--two-fifths'
      assign product_description_width = 'medium-up--three-fifths'
      assign product_image_size = '480x'
    when 'medium'
      assign product_image_width = 'medium-up--one-half'
      assign product_description_width = 'medium-up--one-half'
      assign product_image_size = '620x'
    when 'large'
      assign product_image_width = 'medium-up--three-fifths'
      assign product_description_width = 'medium-up--two-fifths'
      assign product_image_size = '740x'
  endcase

  assign product_img_structure = product.featured_media | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
-%}

<div id="ProductSection-{{ section_id }}"
  class="product-section"
  data-section-id="{{ section_id }}"
  data-section-type="product-template"
  data-product-handle="{{ product.handle }}"
  data-product-title="{{ product.title | escape }}"
  data-product-url="{{ product.url | within: collection }}"
  data-aspect-ratio="{{ 100 | divided_by: product.featured_media.aspect_ratio }}"
  data-img-url="{{ product_img_structure }}"
  {% if settings.product_zoom_enable %}
    data-image-zoom="true"
  {% endif %}
  {% if settings.inventory_enable %}
    data-inventory="true"
  {% endif %}
  {% if settings.inventory_transfers_enable %}
    data-incoming-inventory="true"
  {% endif %}
  {% unless isModal %}
    data-enable-history-state="true"
  {% endunless %}>

  {%- render 'product-template-variables', product: product, current_variant: current_variant -%}

  <!-- product_row -->
  <div class="content">
    <div class="product_row">
      <!-- image -->

      <!-- product_row左側 image -->
      <div>
        <div class="carousel carousel-main" data-flickity='{"pageDots": false }'>
          {% for image in product.images %}
            <div data-image-id="{{ image.id }}" class="carousel-cell"><img src="{{ image.src | img_url: '900x' }}"></div>
          {% endfor %}
        </div>
        <div class="carousel carousel-nav" data-flickity='{ "asNavFor": ".carousel-main", "contain": true, "pageDots": false }'>
          {% for image in product.images %}
            <div data-image-id="{{ image.id }}" class="carousel-cell"><img src="{{ image | img_url: '150x' }}"></div>
          {% endfor %}
        </div>
      </div>


      <!-- product_row右側 info -->
      <div>
      	<div>         
          <!--地金,石-->
          {% if product.metafields.custom_fields["metal"] != blank %}
              <span>{{ product.metafields.custom_fields["metal"] }}</span>
          {% endif %}
          {% if product.metafields.custom_fields["stone"] != blank %}
              <span>{{ product.metafields.custom_fields["stone"] }}</span>
          {% endif %}          
        </div>

        <!--商品名-->
        <div class="product_name">
          {{ product.title | escape }}
        </div>

        <!--価格-->
        <div class="product_price">
          <span id="ProductPrice-{{ section_id }}"
              class="product__price{% if current_variant.compare_at_price > current_variant.price %} on-sale{% endif %}">
              {{ current_variant.price | money }}
          </span>
        </div>

        <!--バリエーション選択&カートボタン・お気に入り追加ボタン-->
        <div class="btn_row">
          {%- render 'product-form',
            section_id: section_id,
            product: product,
            current_variant: current_variant
          -%}
        </div>

        <!--この商品について問い合わせる-->
        <div class="product_question">
          <a href="/pages/contact?id={{ product.handle }}">この商品について問い合わせる</a>
        </div>

        <!--説明テキスト-->
        <div class="product_description_text">
          {{ product.description }}
        </div>

        <!--商品スペック-->
        <div class="title">
          <h3><ls-static-81910>商品説明</ls-static-81910></h3>
          <p><ls-static-371109>DESCRIPTION</ls-static-371109></p>
        </div>
        <div class="product_spec_table">
        {% if product.type == "リング" or product.type == "ネックレス" %}
          {% if product.metafields.custom_fields["size"] != blank %}
            <dl>
              <dt>{{ 'general.product.size' | t }}</dt>
              <dd>{{ product.metafields.custom_fields["size"] }}</dd>
            </dl>
          {% endif %}
          {% if product.metafields.custom_fields["length"] != blank %}
            <dl>
              <dt>{{ 'general.product.length' | t }}</dt>
              <dd>{{ product.metafields.custom_fields["length"] }}</dd>
            </dl>
          {% endif %}
          {% if product.metafields.custom_fields["metal"] != blank %}
            <dl>
              <dt>{{ 'general.product.metal' | t }}</dt>
              <dd>{{ product.metafields.custom_fields["metal"] }}</dd>
            </dl>
          {% endif %}
          {% if product.metafields.custom_fields["arm"] != blank %}
            <dl>
              <dt>{{ 'general.product.arm' | t }}</dt>
              <dd>{{ product.metafields.custom_fields["arm"] }}</dd>
            </dl>
          {% endif %}
          {% if product.metafields.custom_fields["topsize"] != blank %}
            <dl>
              <dt>{{ 'general.product.topsize' | t }}</dt>
              <dd>{{ product.metafields.custom_fields["topsize"] }}</dd>
            </dl>
          {% endif %}
          {% if product.metafields.custom_fields["motif"] != blank %}
            <dl>
              <dt>{{ 'general.product.motif' | t }}</dt>
              <dd>{{ product.metafields.custom_fields["motif"] }}</dd>
            </dl>
          {% endif %}
          {% if product.metafields.custom_fields["chain"] != blank %}
            <dl>
              <dt>{{ 'general.product.chain' | t }}</dt>
              <dd>{{ product.metafields.custom_fields["chain"] }}</dd>
            </dl>
          {% endif %}
          {% if product.metafields.custom_fields["stone"] != blank %}
            <dl>
              <dt>{{ 'general.product.stone' | t }}</dt>
              <dd>{{ product.metafields.custom_fields["stone"] }}</dd>
            </dl>
          {% endif %}
          {% if product.metafields.custom_fields["weight"] != blank %}
            <dl>
              <dt>{{ 'general.product.weight' | t }}</dt>
              <dd>{{ product.metafields.custom_fields["weight"] }}</dd>
            </dl>
          {% endif %}
        {% endif %}
        </div>
        <!--商品説明(スペック)-->
		
        <!--ギフトラッピング-->
        {% if product.type == "リング" or product.type == "ネックレス" %}
        <div class="title">
          <h3><ls-static-304248>ギフトラッピングについて</ls-static-304248></h3>
          <p><ls-static-451326>GIFT</ls-static-451326></p>
        </div>
        <div id="infiniteoptions-container"></div>
        <p><ls-static-466252>カート投入後、ラッピングの選択をしてもらう説明入ります</ls-static-466252></p>
        {% endif %}
        <!--ギフトラッピング-->
        
      </div>
    </div>
  </div>

  <!-- title -->
  <div class="content">
    <div class="title">
      <h3><ls-static-143281>おすすめポイント</ls-static-143281></h3>
      <p><ls-static-796241>POINTS</ls-static-796241></p>
    </div>
  </div>

  <!-- point_description -->
  <div class="content">
    <p class="point_description">
      {{ product.description }}
    </p>
    
    <!--SP時・バリエーション選択&カートボタン・お気に入り追加ボタンここにもうひとつ-->
    <div class="sp">
    	<div class="product_form_wrapper_clone"></div>
        <script>
          $(function () {
            $(window).on('load',function () {
              let product_form_wrapper_clone = $(".product_form_wrapper").clone();
              $(".product_form_wrapper_clone").append(product_form_wrapper_clone);
            });
          });
        </script>
    </div>
      
    <div class="throw_line"></div>
  </div>

  <!-- title -->
  <div class="content">
    <div class="title">
      <h3><ls-static-847163>レビュー</ls-static-847163></h3>
      <p><ls-static-249989>REVIEW</ls-static-249989></p>
    </div>
  </div>

  <!-- review -->
  <div class="content">
    
    <!--Stamped - Begin Main Widget -->
    <div 
         id="stamped-main-widget"   
         data-product-id="{{ product.id }}"   
         data-name="{{ product.title | escape }}"   
         data-url="{{ shop.url }}{{ product.url }}"   
         data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" 
         data-description="{{ product.description | escape }}"   
         data-product-sku="{{product.handle}}"
         data-product-title="{{product.title}}" 
         data-product-type="{{product.type}}">   
      {{product.metafields.stamped.reviews}}   
    </div>
    <!-- Stamped - End Main Widget -->
    
    <div class="throw_line"></div>
  </div>
  
</div>
{% schema %}
{
  "name": {
    "ja": "商品詳細ページ"
  },
  "class": "product-template",
  "blocks": [
    {
      "type": "custom",
      "name": {
        "ja": "画像"
      },
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image_picker",
          "label": {
            "ja": "画像"
          }
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "is_visivle",
      "label": {
        "ja": "表示する？"
      },
      "info": {
        "ja": "チェックを入れると表示、外すと非表示になります。"
      }
    },
    {
      "type": "textarea",
      "id": "text",
      "label": {
        "ja": "本文"
      },
      "default": {
        "ja": "default text. default text."
      }
    }
  ],
  "presets": [
    {
      "name": {
        "ja": "商品詳細ページ"
      },
      "category": {
        "ja": "商品詳細ページ"
      }
    }
  ]
}
{% endschema %}
