<div class="pc">
  <div class="wide-content wide-content-image-position">
    <div class="wide-content-image">
      {{ 'sg_mv_pc.jpg' | asset_img_url: 'master' | img_tag }}
    </div>
  </div>
</div>

<div class="sp">
  <div class="wide-content wide-content-image-position">
    <div class="wide-content-image">
      {{ 'sg_mv_sp.jpg' | asset_img_url: 'master' | img_tag }}
    </div>
  </div>
</div>

<!-- title -->
<div class="content">
  <div class="title">
    <h3><ls-static-524639>ショッピングガイド</ls-static-524639></h3>
    <p><ls-static-359307>SHOPPING GUIDE</ls-static-359307></p>
  </div>
</div>

<div class="content">
  <div class="guide-wrap">
    <div class="sidebar pc">
      <div class="widget widget--sticky">
        <div class="">
            <ul>
              <li>
                <a href="#order">
                  <div class="sg_sidenav_list">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.876" height="18.321" viewBox="0 0 10.876 18.321">
                      <path id="前面オブジェクトで型抜き_5" data-name="前面オブジェクトで型抜き 5" d="M1,16.923H1l-1-1L7.461,8.462,0,1,1,0,9.461,8.462,1,16.922Z" transform="translate(0.707 0.707)" fill="#e4e4e4" stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"/>
                    </svg>
                    <span>
                      ご注文からお届けまで
                    </span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#payment">
                  <div class="sg_sidenav_list">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.876" height="18.321" viewBox="0 0 10.876 18.321">
                      <path id="前面オブジェクトで型抜き_5" data-name="前面オブジェクトで型抜き 5" d="M1,16.923H1l-1-1L7.461,8.462,0,1,1,0,9.461,8.462,1,16.922Z" transform="translate(0.707 0.707)" fill="#e4e4e4" stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"/>
                    </svg>
                    <span>
                      お支払い方法
                    </span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#shipping">
                  <div class="sg_sidenav_list">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.876" height="18.321" viewBox="0 0 10.876 18.321">
                      <path id="前面オブジェクトで型抜き_5" data-name="前面オブジェクトで型抜き 5" d="M1,16.923H1l-1-1L7.461,8.462,0,1,1,0,9.461,8.462,1,16.922Z" transform="translate(0.707 0.707)" fill="#e4e4e4" stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"/>
                    </svg>
                    <span>
                      配送と送料
                    </span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#returns">
                  <div class="sg_sidenav_list">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.876" height="18.321" viewBox="0 0 10.876 18.321">
                      <path id="前面オブジェクトで型抜き_5" data-name="前面オブジェクトで型抜き 5" d="M1,16.923H1l-1-1L7.461,8.462,0,1,1,0,9.461,8.462,1,16.922Z" transform="translate(0.707 0.707)" fill="#e4e4e4" stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"/>
                    </svg>
                    <span>
                      ご返品について
                    </span>
                  </div>
                </a>
              </li>
            </ul>
        </div>
      </div>
    </div>

    <div class="shoppingguide-menu-sp">
      <div class="shoppingguide-menu-wrap">
        <div class="">
            <ul>
              <li>
                <a href="#order">
                  <div class="sg_sidenav_list">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.876" height="18.321" viewBox="0 0 10.876 18.321">
                      <path id="前面オブジェクトで型抜き_5" data-name="前面オブジェクトで型抜き 5" d="M1,16.923H1l-1-1L7.461,8.462,0,1,1,0,9.461,8.462,1,16.922Z" transform="translate(0.707 0.707)" fill="#e4e4e4" stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"/>
                    </svg>
                    <span>
                      ご注文からお届けまで
                    </span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#payment">
                  <div class="sg_sidenav_list">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.876" height="18.321" viewBox="0 0 10.876 18.321">
                      <path id="前面オブジェクトで型抜き_5" data-name="前面オブジェクトで型抜き 5" d="M1,16.923H1l-1-1L7.461,8.462,0,1,1,0,9.461,8.462,1,16.922Z" transform="translate(0.707 0.707)" fill="#e4e4e4" stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"/>
                    </svg>
                    <span>
                      お支払い方法
                    </span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#shipping">
                  <div class="sg_sidenav_list">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.876" height="18.321" viewBox="0 0 10.876 18.321">
                      <path id="前面オブジェクトで型抜き_5" data-name="前面オブジェクトで型抜き 5" d="M1,16.923H1l-1-1L7.461,8.462,0,1,1,0,9.461,8.462,1,16.922Z" transform="translate(0.707 0.707)" fill="#e4e4e4" stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"/>
                    </svg>
                    <span>
                      配送と送料
                    </span>
                  </div>
                </a>
              </li>
              <li>
                <a href="#returns">
                  <div class="sg_sidenav_list">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.876" height="18.321" viewBox="0 0 10.876 18.321">
                      <path id="前面オブジェクトで型抜き_5" data-name="前面オブジェクトで型抜き 5" d="M1,16.923H1l-1-1L7.461,8.462,0,1,1,0,9.461,8.462,1,16.922Z" transform="translate(0.707 0.707)" fill="#e4e4e4" stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"/>
                    </svg>
                    <span>
                      ご返品について
                    </span>
                  </div>
                </a>
              </li>
            </ul>
        </div>
      </div>
    </div><!-- shoppingguide-menu-sp -->

    <div class="main fadein scrollin">
      <!--注文からお届けまで-->
      <div class="sg_section">
        <div id="order" class="page-jump">
          <h2>ご注文からお届けまでの流れ</h2>
          <h3><span class="">1.</span> ご注文</h3>
          <p>ご希望の商品をお選びのうえ、カート内のご購入画面からご注文してください。折り返し、info@monatelier-jewelry.comより「注文内容ご確認（自動配信メール）」が送信されます。<br>
          ※こちらのメールが届かない場合、お手数ですが迷惑メールフォルダやメールの受信設定のご確認をお願いいたします。</p>
          <h3><span class="">2.</span> ご注文内容のご確認</h3>
          <p>スタッフがご注文内容を確認し、受注確定メールをお送りします。発送日やお支払い金額などは、こちらのメールでご確認ください。</p>
          <h3><span class="">3.</span> ジュエリーの製作（在庫のない商品の場合）</h3>
          <p>在庫がない商品の場合は製作に入ります。銀行振り込みをお選びの場合は、入金ご確認後の製作となります。 お急ぎの場合はご注意ください。</p>
          <h3><span class="">4.</span> 発送</h3>
          <p>国内は基本すべて日本郵便のゆうパケットで発送いたします、ヤマト運輸をご希望の場合は別途配送オプションをご購入下さい。<br>※海外は日本郵便のEMSで発送いたします</p>
        </div>

        <div id="" class="page-jump">
          <h3>納期と発送</h3>
          <p>クレジットカード・代金引換の場合、指定日が無ければ、営業日の13時までのご注文で即日発送いたします。<br>銀行振込・PayPay・PayPalなどの前払いをお選びいただいた場合、営業日の13時までに入金確認ができたご注文は即日発送いたします。<br>13時以降のご注文は、翌営業日の発送となります。</p>
          <h3>到着日のご指定について</h3>
          <p>日本郵便のゆうパケットは、ポストに投函されるため到着日のご指定はできません。<br>おおむね差出日の翌日～翌々日にお届けされますので、詳しくは日本郵政のHPをご覧ください。<br>到着日の指定をご希望の場合は、ヤマト運輸配送のオプションをご購入いただき備考欄に詳細をご記入の上、発送後はヤマト運輸が提供するサービスのご利用をお願いいたします。</p>
        </div>
      </div>
      <!--注文からお届けまで-->

      <!--お支払い方法-->
      <div class="sg_section">
        <div id="payment" class="page-jump">
          <h2>お支払い方法</h2>
          <h3>クレジットカード決済</h3>
          <p>商品の発送時にご請求しております。</p>
          <h3>ご利用可能カード</h3>
          <p>お支払い回数はご使用されるクレジットカード会社により異なります。</p>
          {{ 'sg_paymethods.jpg' | asset_img_url: 'master' | img_tag }}
        </div>

        <div id="yamato" class="page-jump">
          <h3>代金引換（ヤマト運輸）</h3>
          <p>商品お受け取り時に、配達ドライバーに代金をお支払いください。<br>
          お支払いは現金のみご利用いただけます。代引手数料は全国区一律無料です。<br>
          「商品発送後のキャンセル」「長期不在」「受取拒否」などによる返品はお受けいたしかねます。<br>
          この場合、往復送料、実損額￥8,000（製作時の工賃・材料に分解・再製錬する工賃）をご請求させていただきます。</p>
        </div>

        <div id="bank" class="page-jump">
          <h3>銀行振り込み（前払い）</h3>
          <p>お支払金額は、「商品代金＋振り込み手数料」です。（振り込み手数料は、お客様ご負担となります。）<br>
          お振込み確認後、受注確定・商品発送をいたします。即納品は13時までに入金の確認が取れない場合、翌営業日の発送となります。<br>
          受注品／カスタムオーダー品をご注文の場合は、お振込み確認後製作に入ります。
          </p>
          <p>三菱UFJ銀行<br> 口座名: 株式会社J-one<br> 店番号: 537（五反田支店）<br> 口座番号: 048916</p>
          <div class="johnson-box">
            <h4>ご注意事項</h4>
            <ul>
            <li>ご注文から7日以内にご入金が確認できない場合は自動的にキャンセルさせていただきます。</li>
            <li>クーポンをご利用の場合や金額訂正が発生するご注文の場合、自動配信される確認メールの金額と、実際のご請求額が異なる場合がございます。のちほど当店からお送りする受注確定メールに記載する金額をお振込みください。</li>
            <li>土日祝日はご入金の確認ができないため、お急ぎでご注文の場合はお気を付けください。</li>
            <li>お振込人名は、ご注文者様のお名前でお願いします。</li>
            <li>ご注文者様と名義人様が異なる場合は、ご入金の確認が困難になるため、お振込前に必ず名義人をご連絡ください。</li>
            </ul>
          </div><!--johnson-box-->
        </div>

        {% comment %} <div id="paypay" class="page-jump">
          <h2 id="paypay">PayPay支払い</h2>
          <img src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/PayPay_cfde5ca9-9317-45ff-80fa-80847f0659aa.png?v=1619461459" float:="" right="">
          <p>PayPayなら、お持ちのスマートフォンアプリから簡単にお支払いいただけます。</p>
        </div>

        <div id="paypal" class="page-jump">
          <h2 id="paypal">PayPal支払い</h2>
          <img src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/PayPal-img.png?v=1615454465" float:="" right="">
          <p>海外からのご利用のお客様向けの決済方法に「Paypal」をご用意しております。<br><br>通常のクレジットカード支払いですとお届け先が海外、カード発行会社が海外、連絡先が海外の場合審査が通らない、配送トラブル時の保証がないため「買い手保護制度」のあるPaypalでのお支払いをご案内しております。</p>
        </div> {% endcomment %}
        {% comment %} <div id="invoice" class="page-jump">
          <h2 id="invoice">領収書の発行について</h2>
          <p>基本的には、各種お支払い機関が発行する利用明細や領収書、受領書をもって領収書に代えさせていただきます。<br>当店発行の領収書をご希望の場合は、手書きでの領収書を発行いたします。<br>また、商品にはお買上明細書を同封しております。<br><br>※当店は、通常、商品と明細書・領収書を同梱してお届けしております。<br>贈り物などで当店をご利用の場合、ご注文の際に備考欄などでお知らせください。</p>
        </div> {% endcomment %}
      </div>
      <!--お支払い方法-->

      <!--配送と送料-->
      <div class="sg_section">
        <div id="shipping" class="page-jump">
          <h2>配送と送料</h2>
          <h3>配送会社</h3>
          <p style="margin-bottom:40px;">国内はすべてヤマト運輸で発送いたします。<br> ※海外は日本郵便のEMSで発送いたします。<br><br> 商品出荷後、「【MONATELIER】商品発送のご案内」というタイトルで、お荷物番号を記載したメールをお送りいたします。<br> ヤマト運輸のサイトにてお届け状況などの確認や、配送指定などの変更ができます。</p>
          <a href="https://www.kuronekoyamato.co.jp/ytc/customer/members/receive/redelivery/" class="arrow-link" target="_blank" rel="noopener noreferrer">クロネコヤマトの荷物問い合わせシステム</a>
          <div class="johnson-box">
            <h4>ご注意事項</h4>
            <span>配送業者の繁忙期の配達状況や、悪天候時の交通事情によっては配送が遅れる場合がございます。あらかじめご了承ください。</span>
          </div>
        </div>
      </div>

      <div class="sg_section">
        <div id="date" class="page-jump">
          <h2>到着日のご指定</h2>
          <h3>在庫のある商品（即納対応商品）</h3>
          <p>土日祝を除く13時までのご注文で即日発送、13時以降のご注文は翌営業日に発送いたします。</p>
          <table width="100%" class="sp-one-table">
          <tbody>
          <tr>
          <th>本州</th>
          <td>発送日の翌日以降</td>
          </tr>
          <tr>
          <th>九州・北海道</th>
          <td>発送日の翌々日以降</td>
          </tr>
          <tr>
          <th>沖縄・離島</th>
          <td>発送日から3日後以降</td>
          </tr>
          <tr>
          <th>一部離島</th>
          <td>地域により異なります</td>
          </tr>
          </tbody>
          </table>
          <p class="small-text">※ご指定のない場合、最短到着指定で発送いたします。</p>
          <h3>在庫のない商品、カスタムオーダー商品</h3>
          <p>受注確定メールに記載する、お届け予定日以降の到着予定日がご指定いただけます。<br>ご希望の場合は、当店からのメールにご返信くださいませ。<br>
          ご指定のない場合は、最短で発送いたします。</p>
          {% comment %} <a href="/pages/flow" class="arrow-link">ご注文からお届けまでの流れ</a> {% endcomment %}
        </div>

        {% comment %} <div id="time" class="page-jump">
          <h2>時間のご指定</h2>
          <p>以下のお届け時間帯がご指定いただけます。</p>
          <table class="shipping-time-table">
          <tbody>
          <tr>
          <th>午前中</th>
          <th>14時<br class="br-sp">～<br class="br-sp">16時</th>
          <th>16時<br class="br-sp">～<br class="br-sp">18時</th>
          <th>18時<br class="br-sp">～<br class="br-sp">20時</th>
          <th>19時<br class="br-sp">～<br class="br-sp">21時</th>
          </tr>
          </tbody>
          </table>
          <p class="small-text">※お住まいの地域によっては時間指定をされると配達が翌々日となる場合もございます。</p>
          <h3>ご不在の場合</h3>
          <p>配送日時にご不在の場合、不在連絡票がお客様のポストへ投函されます。<br>お届けより6日以内に、不在連絡票に記載されたヤマト運輸の各営業所まで、再配達の依頼をお願いいたします。<br>不在荷物の保管期間（6日間）を超えてお受け取りいただけない場合、お荷物は一旦当店へ引き上げとなり、再発送に多くのお時間がかかる場合がございます。</p>
          <a href="https://www.kuronekoyamato.co.jp/ytc/customer/members/receive/redelivery/" class="arrow-link" target="_blank" rel="noopener noreferrer">クロネコヤマトの荷物問い合わせシステム</a>
        </div> {% endcomment %}

        {% comment %} <div id="price" class="page-jump">
          <h2>送料</h2>
          <p>日本全国、送料無料でお届けいたします（一部除外）。</p>
          <table class="shipping-cost sp-one-table">
          <tbody>
          <tr>
          <th>北海道</th>
          <td>930円</td>
          <th>青森・岩手・秋田</th>
          <td>630円</td>
          </tr>
          <tr>
          <th>宮城・山形・福島</th>
          <td>530円</td>
          <th>茨城・栃木・群馬・山梨</th>
          <td>490円</td>
          </tr>
          <tr>
          <th>埼玉・千葉・東京・神奈川</th>
          <td>490円</td>
          <th>富山・石川・福井・岐阜・静岡・愛知・三重</th>
          <td>530円</td>
          </tr>
          <tr>
          <th>滋賀・京都・大阪・兵庫・奈良・和歌山</th>
          <td>490円</td>
          <th>新潟・長野</th>
          <td>520円</td>
          </tr>
          <tr>
          <th>中国地方</th>
          <td>730円</td>
          <th>四国地方</th>
          <td>730円</td>
          </tr>
          <tr>
          <th>九州地方</th>
          <td>930円</td>
          <th>沖縄</th>
          <td>1240円</td>
          </tr>
          </tbody>
          </table>
          <p class="small-text">※税抜１万円以下のお買い物の場合は、上記の送料が発生いたします。<br>※料金はすべて税抜です。<br>※離島でも追加料金がかかることはありません。</p>
        </div> {% endcomment %}

        {% comment %} <div id="global" class="page-jump">
          <h2>海外発送について</h2>
          <p>日本郵便のEMSで発送いたします。<br>保障の都合上、商品代金が20万円以下のものに限らせていただきます。<br>商品出荷後、「【MONATELIER】商品発送のご案内」というタイトルで、お荷物番号を記載したメールをお送りいたします。<br>日本郵便のサイトにてお届け状況などの確認ができます。</p>
          <a href="https://www.post.japanpost.jp/int/ems/" class="arrow-link" target="_blank" rel="noopener noreferrer"> 日本郵便EMS</a>
          <h3>支払金額</h3>
          <p>「商品代金－消費税＋送料」です。</p>
          <h3>対応地域</h3>
          <p>EMSで発送できる地域へのみ発送をお受けしております。</p>
          <p>日本郵便EMS</p>
          <h3>送料</h3>
          <p>一律、1000円をご負担いただきます。</p>
          <h3>住所入力</h3>
          <p>通常通り住所を入力してください。送付先情報の記入漏れや誤りがある場合、いかなるトラブルも弊社では責任を負いません。</p>
          <div class="johnson-box">
          <p><b>ご注意事項</b></p>
          <ul>
          <li>発送先国の配送事情はわかりかねますため、出荷完了の時点で、商品配送に関する責任は配送業者、及びお客さまに移行いたします。また、海外でのトラブルにつきましては免責とさせて頂きます。あらかじめご了承下さいませ。</li>
          <li>ご購入頂いた商品に対し、発送先国での通関時に関税や輸入税、および通関手数料が課せられる場合がございます。その際は、お受取人様のご負担となりますので、お届け時に直接配送業者へお支払い下さいませ。なお、税金や通関手数料に関するポリシーは各国によって異なりますので、詳しくは発送先国の税関にお問い合わせ下さい。</li>
          </ul>
        </div> {% endcomment %}

        {% comment %} <div id="today" class="page-jump">
          <h2>即日発送／翌日配達商品</h2>
          <h3>お届けまでの流れ</h3>
          <div class="shipping-flow">
            <span class="">STEP 1</span>　
            <p>13時までにご注文手続きを完了してください。</p>
          </div>
          <div class="shipping-flow">
            <span class="">STEP 2</span>　
            <p>ご注文と同時に当店から自動返信メール、<br>その後 受注完了メールが届きます。</p>
          </div>
          <div class="shipping-flow">
            <span class="">STEP 3</span>　
            <p>その日のうちに検品・梱包し、出荷します。<br>お客様には発送完了メールが届きます。</p>
          </div>
          <div class="shipping-flow">
            <span class="">STEP 4</span>　
            <p>翌日にはご注文のジュエリーがお手元に届きます。</p>
          </div>
          <h3><span>ご利用条件</span></h3>
          <p><span>13時までにご注文いただく必要がございます。（</span>土日祝日を除く）</p>
          <p><span class="small-text">※到着時間は地域により異なる場合があります。13時以降の注文は翌日発送。</span></p>
          <h3><span>翌日配送対応可能エリア</span></h3>
          <table class="sp-one-table">
          <tbody>
          <tr>
          <th>東北</th>
          <td>青森・岩手・宮城・秋田・山形・福島</td>
          </tr>
          <tr>
          <th>甲信越</th>
          <td>新潟・長野・山梨</td>
          </tr>
          <tr>
          <th>関東</th>
          <td>東京・神奈川・埼玉・千葉・茨城・栃木・群馬</td>
          </tr>
          <tr>
          <th>北陸</th>
          <td>富山・石川・福井</td>
          </tr>
          <tr>
          <th>東海</th>
          <td>愛知・岐阜・静岡・三重</td>
          </tr>
          <tr>
          <th>関西</th>
          <td>大阪・兵庫・京都・滋賀・奈良・和歌山</td>
          </tr>
          <tr>
          <th>中国</th>
          <td>鳥取・島根・岡山・広島・山口</td>
          </tr>
          <tr>
          <th>四国</th>
          <td>徳島・香川・愛媛・高知</td>
          </tr>
          </tbody>
          </table>
          <p><span class="small-text">※離島など例外地域もございます<br>※掲載中の即納品は、在庫状況の反映に時差があるため、売り切れている場合がございます。必ず商品ページにて即納品の有無をご確認いただき、ご注文くださいませ。</span></p>
        </div> {% endcomment %}
      </div>
      <!--配送と送料-->

      <!--ご返品について-->
      <div class="sg_section">
        <div id="returns" class="page-jump">
          <h2>ご返品について</h2>
          <h3>返品・交換でのお願い</h3>
          <p>お手元に届きました商品は、必ずすぐに、以下のことをご確認くださいませ。</p>
          <ul>
          <li>商品に不良箇所がないか</li>
          <li>ご注文内容に誤りがないか</li>
          <li>サイズが合っているか</li>
          </ul>
          <p>ご到着された商品に気になる点がございましたら、必ず到着後1週間以内にカスタマーサポートまでご連絡ください。<br>折り返し、返品交換の手続きをご連絡いたします。</p>
        </div>

        <div id="cannot" class="page-jump">
          <h3>返品・交換できないもの</h3>
          <ul>
          <li>回数にかかわらずご使用になられたもの</li>
          <li>汚損、破損のあるもの</li>
          <li>商品到着から1週間以上経過した場合や、弊社からご案内する商品返送期間を過ぎた場合</li>
          <li>ご連絡が無い状態で返送された場合</li>
          </ul>
        </div>

        <div id="aboutreturn" class="page-jump">
          <h3>返品について</h3>
          <p>到着後1週間以内にカスタマーサポートまでご連絡ください。折り返し、返品の手続きをご連絡いたします。<br>ジュエリーはとてもデリケートなため、ちょっとしたことでもキズが付いてしまいます。ご返品される場合は、お取り扱いに十分ご注意いただき、ご返送をお願いいたします。</p>
          <div class="johnson-box">
            <p><strong>ご注意事項</strong></p>
            <ul>
            <li>受注生産品、カスタムオーダー商品（チェーンの太さや長さの変更、プレートの変更など）はご注文者さまの特注品として製作しております。<br>返品の場合は製作時の工賃・材料に分解・再製錬する工賃と手数料として、￥8,000を頂きます。</li>
            <li>返送にあたっては、お届けしたそのままの状態でお戻しください。（ギフトボックスや鑑定書など）</li>
            <li>ご返送の際は、紛失・破損の保障付き/荷物の追跡可能な、宅急便・ゆうパックなどをご利用ください。また、送り状の控えは、全ての返品手続きが終わるまで必ず保管しておいてください。</li>
            <li>返品手続きはご注文者様と行っております。返金処理等のご案内もございますので、贈り物として受け取った場合でも、必ずご注文者様からご連絡ください。</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="sg_section">
        <div id="aboutchange" class="page-jump">
          <h2>交換について</h2>
          <p>なお、【地金色の交換】につきましては、交換希望の地金色に在庫のご用意がある場合のみ承ります。<br>
          ご希望の地金に在庫のご用意がない場合は、ご交換をお受けすることが出来かねます。ご希望の場合は、一度お品物を返品し、再度ご希望の地金にてご注文くださいますようお願いいたします。<br>
          <br>
          例：<br>
          注文品はYGだが、在庫のあるPGに交換したい。→可<br>
          注文品はYGだが、在庫のないWGに交換したい。→不可（返品→再注文）</p>
          <br>
          <div class="johnson-box">
            <p><strong>ご注意事項</strong></p>
            <ul>
            <li>受注生産品の返品は【有料】となります。</li>
            <li>返送にあたっては、お届けしたそのままの状態でお戻しください。（ギフトボックスや鑑定書など）</li>
            <li>ご返送の際は、紛失・破損の保障付き/荷物の追跡可能な、宅急便・ゆうパックなどをご利用ください。また、送り状の控えは、全ての交換手続きが終わるまで必ず保管しておいてください。</li>
            <li>贈り物として受け取っている場合も、ご注文者様のお名前をお知らせください。<br>（交換がスムーズにできますよう、商品のご注文状況を確認させていただきます。）</li>
            <li>お値段の異なる商品と交換をご希望の場合は、システムの都合上、いったん返品していただき、ご希望商品の再注文をお願いしております。</li>
            <li>お値段が同じでも商品自体が異なる交換をご希望の場合は、システムの都合上、いったん返品していただき、ご希望商品の再注文をお願いしております。</li>
            </ul>
          </div>
        </div>

        <div id="difective" class="page-jump">
          <h3>不良品・誤配送について</h3>
          <p>商品の検品には十分注意しておりますが、 万が一商品に不具合・間違いがあった場合は、お早めにご連絡ください。早急に新しい商品にお取り換えいたします。</p>
        </div>

        <div id="refund" class="page-jump">
          <h3>返金について</h3>
          <p>「サイズが合わない」 「イメージと違う」 「注文を間違えた」 などお客様都合でのご返品で、返金手続きの際に手数料が発生する場合、手数料はお客様ご負担となります。予めご了承くださいませ。<br>また、ご注文時のお支払方法により、返金方法が異なります。<br><br>クレジットカード決済の場合 クレジットカードの請求を止める手続きをいたします。 お客様のクレジットカード会社の締め日によっては、一度決済がかかることがございますが、翌月にクレジットカード会社よりご返金、またはご利用分から差し引きとなります。<br>※クレジット決済の場合、現金や振り込みでの返金は行っておりません。<br><br>クレジットカード決済以外の場合 銀行振り込みで返金いたします。<br>下記の内容をご連絡ください。<br>銀行名 / 支店名 / 口座種別 / 口座番号 / 口座名義人（フリガナ）</p>
        </div>

        <div id="cancel" class="page-jump">
          <h3>キャンセルについて</h3>
          <p>在庫のある商品の場合は、当日の13時までにご連絡下さい。<br>13時以降のご注文であれば、翌営業日の13時までにご連絡下さい。<br>※メールでのご連絡ですと、対応が間に合わない場合もございます。お急ぎの際はお電話にてご連絡下さい。<br><br>在庫のない商品（受注品・カスタムオーダー商品）は、必ずご注文日より3日以内にご連絡ください。<br>
          それ以後のお申し出は、製作が進行してしまうため、材料に分解・再精錬する工賃と手数料として￥8,000をいただきます。）</p>
          <div class="johnson-box">
            <p><strong>ご注意事項</strong></p>
            <p>「商品発送後のキャンセル」「長期不在」「受取拒否」などによる返品はお受けいたしかねます。<br>この場合、往復送料、実損額￥8,000（製作時の工賃・材料に分解・再製錬する工賃）をご請求させていただきます。</p>
          </div>
        </div>

      </div>
      <!--ご返品について-->
    </div><!--main fadein scrollin-->
  </div><!--guide-wrap-->
</div><!--content-->


{% comment %} <div class="bread-pages">
  <a href="{{ routes.root_url }}">{{ 'general.site.top' | t }}</a> <span>＞</span> <a href="/pages/shoppingguide">{{ 'general.site.shoppingguide' | t }}</a> <span>＞</span> {{ page.title}}
</div> {% endcomment %}

<style>
.guide-wrap .main h2 {
    font-size: 26px;
    font-weight: 400;
  	color: #717171;
}
.guide-wrap .main h3 {
    font-size: 20px;
    margin-top: 51px;
    margin-left: 40px;
    color: #717171;
    font-weight: 300;
}
.guide-wrap .main p, .guide-wrap .main img, .guide-wrap .johnson-box, .guide-wrap .main a {
    margin-left: 40px;
}
.guide-wrap .johnson-box h4 {
    font-size: 20px;
    font-weight: 400;
}
.guide-wrap .johnson-box {
    padding: 30px 40px;
}
.guide-wrap table {
    margin-left: 40px;
}
</style>
  
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
