<div class="pc">
    <div class="wide-content wide-content-image-position">
      <div class="wide-content-image">
        {{ 'sg_mv_pc.jpg' | asset_img_url: 'master' | img_tag }}
      </div>
    </div>
  </div>
  
  <div class="sp">
    <div class="wide-content wide-content-image-position">
      <div class="wide-content-image">
        {{ 'sg_mv_sp.jpg' | asset_img_url: 'master' | img_tag }}
      </div>
    </div>
  </div>
  
  <!-- title -->
  <div class="content">
    <div class="title">
      <h3><ls-static-160914>ショッピングガイド</ls-static-160914></h3>
      <p><ls-static-370441>SHOPPING GUIDE</ls-static-370441></p>
    </div>
  </div>
  
  <div class="content">
    <div class="guide-wrap">
      <div class="sidebar pc">
        <div class="widget widget--sticky">
          <div class="">
              <ul>
                <li>
                  <a href="#order">
                    <div class="sg_sidenav_list">
                      <span>
                        <ls-static-230560>ご注文からお届けまで</ls-static-230560>
                      </span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#payment">
                    <div class="sg_sidenav_list">
                      <span>
                        <ls-static-92475>お支払い方法</ls-static-92475>
                      </span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#returns">
                    <div class="sg_sidenav_list">
                      <span>
                        <ls-static-131610>ご返品について</ls-static-131610>
                      </span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#aboutchange">
                    <div class="sg_sidenav_list">
                      <span>
                        <ls-static-524416>交換について</ls-static-524416>
                      </span>
                    </div>
                  </a>
                </li>
              </ul>
          </div>
        </div>
      </div>
  
      <div class="shoppingguide-menu-sp">
        <div class="shoppingguide-menu-wrap">
          <div class="">
              <ul>
                <li>
                  <a href="#order">
                    <div class="sg_sidenav_list">
                      <span>
                        <ls-static-536211>ご注文からお届けまで</ls-static-536211>
                      </span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#payment">
                    <div class="sg_sidenav_list">
                      <span>
                        <ls-static-169837>お支払い方法</ls-static-169837>
                      </span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#returns">
                    <div class="sg_sidenav_list">
                      <span>
                        <ls-static-956986>ご返品について</ls-static-956986>
                      </span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#aboutchange">
                    <div class="sg_sidenav_list">
                      <span>
                        <ls-static-255043>交換について</ls-static-255043>
                      </span>
                    </div>
                  </a>
                </li>
              </ul>
          </div>
        </div>
      </div><!-- shoppingguide-menu-sp -->
  
      <div class="main fadein scrollin">
        <!--注文からお届けまで-->
        <div class="sg_section">
          <div id="order" class="page-jump">
            <h2><ls-static-204458>ご注文からお届けまでの流れ</ls-static-204458></h2>
            <h3><span class="">1.</span> <ls-static-434446>ご注文</ls-static-434446></h3>
            <p>
                <ls-static-402232>ご希望の商品をお選びのうえ、カート内のご購入画面へお進みください。</ls-static-402232><br>
                <ls-static-130199>ご注文が完了しますと、info@monatelier-jewelry.comより「注文内容ご確認（自動配信メール）」が送信されます。</ls-static-130199><br><br>
                <ls-static-290937>※こちらのメールが届かない場合、お手数ですが迷惑メールフォルダやメールの受信設定のご確認をお願いいたします。</ls-static-290937>
            </p>
            <h3><span class="">2.</span> <ls-static-348938>ご注文内容のご確認</ls-static-348938></h3>
            <p>
                <ls-static-661712>スタッフがご注文内容を確認し、注文確定メールをお送りします。発送日やお支払い金額などは、こちらのメールをご確認ください。</ls-static-661712>
            </p>
            <h3><span class="">3.</span> <ls-static-466368>発送</ls-static-466368></h3>
            <p>
                <ls-static-369979>国内発送は、日本郵便のゆうパケットで発送いたします。ヤマト運輸をご希望の場合は、別途配送オプションをご購入下さい。※海外発送の場合は、日本郵便の国際小包（航空便）にて発送し、別途送料が発生いたします。</ls-static-369979>
            </p>
          </div>
  
          <div id="" class="page-jump">
            <h3><ls-static-465995>納期と発送</ls-static-465995></h3>
            <p>
                <ls-static-223316>クレジットカードをご利用の場合、配送の日付指定が無ければ、営業日の13時までのご注文で即日発送いたします。</ls-static-223316><br><br>
                <ls-static-681511>銀行振込・PayPay・PayPalなどの前払いをお選びいただいた場合、営業日の13時までに入金確認ができたご注文は即日発送いたします。13時以降のご注文は、翌営業日の発送となりますのでご了承ください。</ls-static-681511>
            </p>
            <h3><ls-static-914649>到着日のご指定について</ls-static-914649></h3>
            <p>
                <ls-static-970918>日本郵便のゆうパケットは、ポストに投函されるため到着日のご指定はできません。</ls-static-970918><br>
                <ls-static-271390>おおむね差出日の翌日～翌々日にお届けされますので、詳しくは日本郵政のHPをご覧ください。</ls-static-271390><br><br>
                <ls-static-559171>配送の日付指定をご希望の場合は、商品ご購入時にヤマト運輸配送のオプションをご購入いただき、備考欄に詳細をご記入ください。発送後は、ヤマト運輸が提供するサービスのご利用をお願いいたします。</ls-static-559171>
            </p>
          </div>
        </div><!-- sg_section -->
        <!--注文からお届けまで-->
  
        <!--お支払い方法-->
        <div class="sg_section">
          <div id="payment" class="page-jump">
            <h2><ls-static-114164>お支払い方法</ls-static-114164></h2>
            <h3><ls-static-149662>クレジットカード決済</ls-static-149662></h3>
            <p><ls-static-571523>商品の発送時にご請求しております。</ls-static-571523></p>
            <h3><ls-static-980725>ご利用可能カード</ls-static-980725></h3>
            <p><ls-static-176004>お支払い回数はご使用されるクレジットカード会社により異なります。</ls-static-176004></p>
            {{ 'sg_paymethods.jpg' | asset_img_url: 'master' | img_tag }}
          </div>
 
          <div id="bank" class="page-jump">
            <h3><ls-static-854426>銀行振り込み（前払い）</ls-static-854426></h3>
            <p>
                <ls-static-928379>お支払金額は、「商品代金＋振り込み手数料」です。（振り込み手数料は、お客様ご負担となります。）お振込み確認後、受注確定・商品発送をいたします。即納品は13時までに入金の確認が取れない場合、翌営業日の発送となります。</ls-static-928379>
            </p>
            <p><ls-static-748256>三菱UFJ銀行</ls-static-748256><br> <ls-static-233138>口座名: 株式会社J-one</ls-static-233138><br> <ls-static-393934>店番号: 537（五反田支店）</ls-static-393934><br> <ls-static-280347>口座番号: 0489161</ls-static-280347></p>
            <div class="johnson-box">
              <h4><ls-static-65186>ご注意事項</ls-static-65186></h4>
              <ul>
              <li><ls-static-996321>ご注文から7日以内にご入金が確認できない場合は自動的にキャンセルさせていただきます。</ls-static-996321></li>
              <li><ls-static-846574>クーポンをご利用の場合や金額訂正が発生するご注文の場合、自動配信される確認メールの金額と、実際のご請求額が異なる場合がございます。のちほど当店からお送りする受注確定メールに記載する金額をお振込みください。</ls-static-846574></li>
              <li><ls-static-843686>土日祝日はご入金の確認ができないため、お急ぎでご注文の場合はお気を付けください。</ls-static-843686></li>
              <li><ls-static-719733>お振込人名は、ご注文者様のお名前でお願いします。</ls-static-719733></li>
              <li><ls-static-592316>ご注文者様と名義人様が異なる場合は、ご入金の確認が困難になるため、お振込前に必ず名義人をご連絡ください。</ls-static-592316></li>
              </ul>
            </div><!--johnson-box-->
          </div>
        </div><!-- sg_section -->
        <!--お支払い方法-->
  
        <!--ご返品について-->
        <div class="sg_section">
          <div id="returns" class="page-jump">
            <h2><ls-static-310811>ご返品について</ls-static-310811></h2>
            <h3><ls-static-109403>返品・交換でのお願い</ls-static-109403></h3>
            <p><ls-static-179075>お手元に届きました商品は、必ずすぐに、以下のことをご確認くださいませ。</ls-static-179075></p>
            <ul>
            <li><ls-static-974366>商品に不良箇所がないか</ls-static-974366></li>
            <li><ls-static-73104>ご注文内容に誤りがないか</ls-static-73104></li>
            <li><ls-static-868026>サイズが合っているか</ls-static-868026></li>
            </ul>
            <p><ls-static-397131>ご到着された商品に気になる点がございましたら、必ず到着後1週間以内にカスタマーサポートまでご連絡ください。</ls-static-397131><br><ls-static-703102>折り返し、返品交換の手続きをご連絡いたします。</ls-static-703102></p>
          </div>
  
          <div id="cannot" class="page-jump">
            <h3><ls-static-947262>返品・交換できないもの</ls-static-947262></h3>
            <ul>
            <li><ls-static-9466>回数にかかわらずご使用になられたもの</ls-static-9466></li>
            <li><ls-static-621370>汚損、破損のあるもの</ls-static-621370></li>
            <li><ls-static-2404>商品到着から1週間以上経過した場合や、弊社からご案内する商品返送期間を過ぎた場合</ls-static-2404></li>
            <li><ls-static-361513>ご連絡が無い状態で返送された場合</ls-static-361513></li>
            </ul>
          </div>
  
          <div id="aboutreturn" class="page-jump">
            <h3><ls-static-311194>返品について</ls-static-311194></h3>
            <p><ls-static-778014>到着後1週間以内にカスタマーサポートまでご連絡ください。折り返し、返品の手続きをご連絡いたします。</ls-static-778014><br><ls-static-52184>ジュエリーはとてもデリケートなため、ちょっとしたことでもキズが付いてしまいます。ご返品される場合は、お取り扱いに十分ご注意いただき、ご返送をお願いいたします。</ls-static-52184></p>
            <div class="johnson-box">
              <h4><ls-static-241786>ご注意事項</ls-static-241786></h4>
              <ul>
              <li><ls-static-773652>返品の場合は製作時の工賃・材料に分解・再製錬する工賃と手数料として、実損額を頂きます。</ls-static-773652></li>
              <li><ls-static-682856>返送にあたっては、お届けしたそのままの状態でお戻しください。（ギフトボックスや鑑定書など）</ls-static-682856></li>
              <li><ls-static-42571>ご返送の際は、紛失・破損の保障付き/荷物の追跡可能な、宅急便・ゆうパックなどをご利用ください。また、送り状の控えは、全ての返品手続きが終わるまで必ず保管しておいてください。</ls-static-42571></li>
              <li><ls-static-491383>返品手続きはご注文者様と行っております。返金処理等のご案内もございますので、贈り物として受け取った場合でも、必ずご注文者様からご連絡ください。</ls-static-491383></li>
              </ul>
            </div>
          </div>
        </div><!-- sg_section -->
  
        <div class="sg_section">
          <div id="aboutchange" class="page-jump">
            <h2><ls-static-758952>交換について</ls-static-758952></h2>
            <div class="johnson-box">
              <h4><ls-static-739682>ご注意事項</ls-static-739682></h4>
              <ul>
                <li><ls-static-672098>返送にあたっては、お届けしたそのままの状態でお戻しください。（ギフトボックスや鑑定書など）</ls-static-672098></li>
                <li><ls-static-432838>ご返送の際は、紛失・破損の保障付き/荷物の追跡可能な、宅急便・ゆうパックなどをご利用ください。また、送り状の控えは、全ての交換手続きが終わるまで必ず保管しておいてください。</ls-static-432838></li>
                <li><ls-static-327307>贈り物として受け取っている場合も、ご注文者様のお名前をお知らせください。</ls-static-327307><br><ls-static-877679>（交換がスムーズにできますよう、商品のご注文状況を確認させていただきます。）</ls-static-877679></li>
                <li><ls-static-225986>お値段の異なる商品と交換をご希望の場合は、システムの都合上、いったん返品していただき、ご希望商品の再注文をお願いしております。</ls-static-225986></li>
                <li><ls-static-408576>お値段が同じでも商品自体が異なる交換をご希望の場合は、システムの都合上、いったん返品していただき、ご希望商品の再注文をお願いしております。</ls-static-408576></li>
              </ul>
            </div>
          </div><!-- sg_section -->
  
          <div id="difective" class="page-jump">
            <h3><ls-static-790049>不良品・誤配送について</ls-static-790049></h3>
            <p><ls-static-2513>商品の検品には十分注意しておりますが、 万が一商品に不具合・間違いがあった場合は、お早めにご連絡ください。早急に新しい商品にお取り換えいたします。</ls-static-2513></p>
          </div>
  
          <div id="refund" class="page-jump">
            <h3><ls-static-289206>返金について</ls-static-289206></h3>
            <p>
                <ls-static-248626>「サイズが合わない」 「イメージと違う」 「注文を間違えた」 などお客様都合でのご返品で、返金手続きの際に手数料が発生する場合、手数料はお客様ご負担となります。予めご了承くださいませ。また、ご注文時のお支払方法により、返金方法が異なります。クレジットカード決済の場合 クレジットカードの請求を止める手続きをいたします。 お客様のクレジットカード会社の締め日によっては、一度決済がかかることがございますが、翌月にクレジットカード会社よりご返金、またはご利用分から差し引きとなります。</ls-static-248626><br>
                <ls-static-666233>下記の内容をご連絡ください。</ls-static-666233><br>
                <ls-static-592117>銀行名 / 支店名 / 口座種別 / 口座番号 / 口座名義人（フリガナ）</ls-static-592117>
            </p>
          </div>
  
          <div id="cancel" class="page-jump">
            <h3><ls-static-12517>キャンセルについて</ls-static-12517></h3>
            <p>
                <ls-static-517291>在庫のある商品の場合は、当日の13時までにご連絡下さい。</ls-static-517291><br>
                <ls-static-441346>13時以降のご注文であれば、翌営業日の13時までにご連絡下さい。</ls-static-441346><br>
                <ls-static-549692>「商品発送後のキャンセル」「長期不在」「受取拒否」などによる返品はお受けいたしかねます。この場合、往復送料、実損額（製作時の工賃・材料に分解・再製錬する工賃）をご請求させていただきます。</ls-static-549692>
            </p>
          </div>
  
        </div>
        <!--ご返品について-->
      </div><!--main fadein scrollin-->
    </div><!--guide-wrap-->
  </div><!--content-->
  
  
  {% comment %} <div class="bread-pages">
    <a href="{{ routes.root_url }}">{{ 'general.site.top' | t }}</a> <span>＞</span> <a href="/pages/shoppingguide">{{ 'general.site.shoppingguide' | t }}</a> <span>＞</span> {{ page.title}}
  </div> {% endcomment %}
  
  <style>
  .guide-wrap .main h2 {
      font-size: 26px;
      font-weight: 400;
        color: #717171;
  }
  .guide-wrap .main h3 {
      font-size: 20px;
      margin-top: 51px;
      margin-left: 40px;
      color: #717171;
      font-weight: 300;
  }
  .guide-wrap .main p, .guide-wrap .main img, .guide-wrap .johnson-box, .guide-wrap .main a, .guide-wrap .main>ul, .guide-wrap .sg_section>div>ul {
      margin-left: 40px;
  }
  .guide-wrap .johnson-box h4 {
      font-size: 20px;
      font-weight: 400;
  }
  .guide-wrap .johnson-box {
      padding: 30px 40px;
  }
  .guide-wrap table {
      margin-left: 40px;
  }
  @media screen and (max-width: 768px) {
    .guide-wrap .main h2 {
        font-size: 16px;
        font-weight: 400;
        color: #717171;
    }
    .guide-wrap .main h3 {
      font-size: 16px;
      margin-top: 30px;
      margin-left: 24px;
      color: #717171;
      font-weight: 300;
    }
    .guide-wrap .main p {
      font-size: 12px;
    }
    .guide-wrap .main p, .guide-wrap .main img, .guide-wrap .johnson-box, .guide-wrap .main a, .guide-wrap .main>ul, .guide-wrap .sg_section>div>ul {
        margin-left: 24px;
    }
    .guide-wrap .johnson-box h4 {
        font-size: 16px;
        font-weight: 400;
    }
    .guide-wrap .johnson-box {
        padding: 24px;
    }
    .guide-wrap table {
        margin-left: 24px;
    }
    .shoppingguide-menu-sp {
        display: block;
        padding: 0;
    }
    .guide-wrap ul {
        margin-left: 0;
    }
  }
  </style>
    
  {% schema %}
    {
      "name": "Section name",
      "settings": []
    }
  {% endschema %}
  
  {% stylesheet %}
  {% endstylesheet %}
  
  {% javascript %}
  {% endjavascript %}
  