<div class="section-header">
      <h2 class="section-header__title">{{ 'general.product.slider_title' | t }}</h2>
<span>{{ 'general.product.slider_text' | t }}</span>
  </div>
<div class="series-slider-wrapper rte">

  <div class="para-img medium--hide is-2"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/ring-3.png"></div>

<ul class="series-slider series-slider-left">
<li><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/top-series-7.jpg" alt="Notice 「気づき」"></li>
<li><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/top-series-1.jpg" alt="Across 「出会い」"></li>
<li><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/top-series-2.jpg" alt="Temptation 「誘惑」"></li>
<li><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/top-series-3.jpg" alt="Attract 「関心」"></li>
<li><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/top-series-4.jpg" alt="Expect 「予期」"></li>
<li><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/top-series-5.jpg" alt="Days 「毎日」"></li>
<li><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/top-series-6.jpg" alt="Deco 「普遍」"></li>
</ul>
  <div class="series-slider-name">{{ 'general.series.between' | t }} {{ 'general.series.series_small' | t }}</div>
<ul class="series-slider series-slider-center">
<li><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/top-series-1.jpg" alt="Across 「出会い」"></li>
<li><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/top-series-2.jpg" alt="Temptation 「誘惑」"></li>
<li><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/top-series-3.jpg" alt="Attract 「関心」"></li>
<li><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/top-series-4.jpg" alt="Expect 「予期」"></li>
<li><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/top-series-5.jpg" alt="Days 「毎日」"></li>
<li><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/top-series-6.jpg" alt="Deco 「普遍」"></li>
<li><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/top-series-7.jpg" alt="Notice 「気づき」"></li>
</ul>

<ul class="series-slider series-slider-description">
<li>
<h3>{{ 'general.series.across' | t }}</h3>
<h4>{{ collections['across'].metafields.custom_fields["style-japanese"] }}</h4>
<p>{{ collections['across'].description }}</p>
<a href="/collections/across"><span>{{ 'general.site.discover' | t }}</span>
</a>
</li>
<li>
<h3>{{ 'general.series.temptation' | t }}</h3>
<h4>{{ collections['temptation'].metafields.custom_fields["style-japanese"] }}</h4>
<p>{{ collections['temptation'].description }}</p>
<a href="/collections/temptation">
<span>{{ 'general.site.discover' | t }}</span>
</a>
</li>
<li>
<h3>{{ 'general.series.attract' | t }}</h3>
<h4>{{ collections['attract'].metafields.custom_fields["style-japanese"] }}</h4>
<p>{{ collections['attract'].description }}</p>
<a href="/collections/attract">
<span>{{ 'general.site.discover' | t }}</span>
</a>
</li>
<li>
<h3>{{ 'general.series.expectation' | t }}</h3>
<h4>{{ collections['expect'].metafields.custom_fields["style-japanese"] }}</h4>
<p>{{ collections['expect'].description }}</p>
<a href="/collections/expect">
<span>{{ 'general.site.discover' | t }}</span>
</a>
</li>
<li>
<h3>{{ 'general.series.days' | t }}</h3>
<h4>{{ collections['days'].metafields.custom_fields["style-japanese"] }}</h4>
<p>{{ collections['days'].description }}</p>
<a href="/collections/days">
<span>{{ 'general.site.discover' | t }}</span>
</a>
</li>
<li>
<h3>{{ 'general.series.deco' | t }}</h3>
<h4>{{ collections['deco'].metafields.custom_fields["style-japanese"] }}</h4>
<p>{{ collections['deco'].description }}</p>
<a href="/collections/deco">
<span>{{ 'general.site.discover' | t }}</span>
</a>
</li>
<li>
<h3>{{ 'general.series.notice' | t }}</h3>
<h4>{{ collections['notice'].metafields.custom_fields["style-japanese"] }}</h4>
<p>{{ collections['notice'].description }}</p>
<a href="/collections/notice">
<span>{{ 'general.site.discover' | t }}</span>
</a>
</li>
</ul>
<ul class="series-slider series-slider-right">
<li><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/top-series-2.jpg" alt="Temptation 「誘惑」"></li>
<li><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/top-series-3.jpg" alt="Attract 「関心」"></li>
<li><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/top-series-4.jpg" alt="Expect 「予期」"></li>
<li><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/top-series-5.jpg" alt="Days 「毎日」"></li>
<li><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/top-series-6.jpg" alt="Deco 「普遍」"></li>
<li><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/top-series-7.jpg" alt="Notice 「気づき」"></li>
<li><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0268/1202/2962/files/top-series-1.jpg" alt="Across 「出会い」"></li>
</ul>



</div>

{% schema %}

{
"name": "シリーズスライダー",
"settings": [],
"presets": [
{
"name": "シリーズスライダー",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}
