<!-- topic_bnr pc-->
<div class="content pc">
  <div class="content_bnr cssreset">
    <a href="">
      <div>
        <p>品質基準</p>
        <p>QUALITY</p>
      </div>
      <div>
        {{ 'content_bnr01.jpg' | asset_url | img_tag }}
      </div>
    </a>
    <a href="">
      <div>
        <p>素材について</p>
        <p>MATERIAL</p>
      </div>
      <div>
        {{ 'content_bnr02.jpg' | asset_url | img_tag }}
      </div>
    </a>
      <a href="">
      <div>
        <p>コンセプト</p>
        <p>CONCEPT</p>
      </div>
      <div>
        {{ 'content_bnr03.jpg' | asset_url | img_tag }}
      </div>
    </a>
    <a href="">
      <div>
        <p>アフターーサービス</p>
        <p>SERVICE</p>
      </div>
      <div>
        {{ 'content_bnr04.jpg' | asset_url | img_tag }}
      </div>
    </a>
  </div>
</div>

<!-- topic_bnr sp -->
<div class="content_wide sp">
  <div class="content_bnr cssreset">
    <a href="">
      <div>
        <p>品質基準</p>
        <p>QUALITY</p>
      </div>
      <div>
        {{ 'content_bnr01_square.jpg' | asset_url | img_tag }}
      </div>
    </a>
    <a href="">
      <div>
        <p>素材について</p>
        <p>MATERIAL</p>
      </div>
      <div>
        {{ 'content_bnr02_square.jpg' | asset_url | img_tag }}
      </div>
    </a>
    <a href="">
      <div>
        <p>品質基準</p>
        <p>QUALITY</p>
      </div>
      <div>
        {{ 'content_bnr03_square.jpg' | asset_url | img_tag }}
      </div>
    </a>
    <a href="">
      <div>
        <p>品質基準</p>
        <p>QUALITY</p>
      </div>
      <div>
        {{ 'content_bnr04_square.jpg' | asset_url | img_tag }}
      </div>
    </a>
  </div>
</div>
