<!-- topic_bnr pc-->
<div class="content pc">
  <div class="content_bnr cssreset">
    <a href="">
      <div>
        <p><ls-static-127175>品質基準</ls-static-127175></p>
        <p><ls-static-935209>QUALITY</ls-static-935209></p>
      </div>
      <div>
        {{ 'content_bnr01.jpg' | asset_url | img_tag }}
      </div>
    </a>
    <a href="">
      <div>
        <p><ls-static-971430>素材について</ls-static-971430></p>
        <p><ls-static-986107>MATERIAL</ls-static-986107></p>
      </div>
      <div>
        {{ 'content_bnr02.jpg' | asset_url | img_tag }}
      </div>
    </a>
      <a href="">
      <div>
        <p><ls-static-336557>コンセプト</ls-static-336557></p>
        <p><ls-static-154579>CONCEPT</ls-static-154579></p>
      </div>
      <div>
        {{ 'content_bnr03.jpg' | asset_url | img_tag }}
      </div>
    </a>
    <a href="">
      <div>
        <p><ls-static-481055>アフターーサービス</ls-static-481055></p>
        <p><ls-static-329373>SERVICE</ls-static-329373></p>
      </div>
      <div>
        {{ 'content_bnr04.jpg' | asset_url | img_tag }}
      </div>
    </a>
  </div>
</div>

<!-- topic_bnr sp -->
<div class="content_wide sp">
  <div class="content_bnr cssreset">
    <a href="">
      <div>
        <p><ls-static-403617>品質基準</ls-static-403617></p>
        <p><ls-static-565061>QUALITY</ls-static-565061></p>
      </div>
      <div>
        {{ 'content_bnr01_square.jpg' | asset_url | img_tag }}
      </div>
    </a>
    <a href="">
      <div>
        <p><ls-static-107655>素材について</ls-static-107655></p>
        <p><ls-static-423560>MATERIAL</ls-static-423560></p>
      </div>
      <div>
        {{ 'content_bnr02_square.jpg' | asset_url | img_tag }}
      </div>
    </a>
    <a href="">
      <div>
        <p><ls-static-44019>品質基準</ls-static-44019></p>
        <p><ls-static-555921>QUALITY</ls-static-555921></p>
      </div>
      <div>
        {{ 'content_bnr03_square.jpg' | asset_url | img_tag }}
      </div>
    </a>
    <a href="">
      <div>
        <p><ls-static-338634>品質基準</ls-static-338634></p>
        <p><ls-static-462970>QUALITY</ls-static-462970></p>
      </div>
      <div>
        {{ 'content_bnr04_square.jpg' | asset_url | img_tag }}
      </div>
    </a>
  </div>
</div>
