<!-- topic_bnr pc-->
<div class="content pc">
  <div class="content_bnr cssreset">
    <a href="">
      <div>
        <p><ls-static-686441>品質基準</ls-static-686441></p>
        <p><ls-static-559293>QUALITY</ls-static-559293></p>
      </div>
      <div>
        {{ 'content_bnr01.jpg' | asset_url | img_tag }}
      </div>
    </a>
    <a href="">
      <div>
        <p><ls-static-818372>素材について</ls-static-818372></p>
        <p><ls-static-102821>MATERIAL</ls-static-102821></p>
      </div>
      <div>
        {{ 'content_bnr02.jpg' | asset_url | img_tag }}
      </div>
    </a>
      <a href="">
      <div>
        <p><ls-static-747249>コンセプト</ls-static-747249></p>
        <p><ls-static-196011>CONCEPT</ls-static-196011></p>
      </div>
      <div>
        {{ 'content_bnr03.jpg' | asset_url | img_tag }}
      </div>
    </a>
    <a href="">
      <div>
        <p><ls-static-383633>アフターーサービス</ls-static-383633></p>
        <p><ls-static-753847>SERVICE</ls-static-753847></p>
      </div>
      <div>
        {{ 'content_bnr04.jpg' | asset_url | img_tag }}
      </div>
    </a>
  </div>
</div>

<!-- topic_bnr sp -->
<div class="content_wide sp">
  <div class="content_bnr cssreset">
    <a href="">
      <div>
        <p><ls-static-991803>品質基準</ls-static-991803></p>
        <p><ls-static-35719>QUALITY</ls-static-35719></p>
      </div>
      <div>
        {{ 'content_bnr01_square.jpg' | asset_url | img_tag }}
      </div>
    </a>
    <a href="">
      <div>
        <p><ls-static-327413>素材について</ls-static-327413></p>
        <p><ls-static-121985>MATERIAL</ls-static-121985></p>
      </div>
      <div>
        {{ 'content_bnr02_square.jpg' | asset_url | img_tag }}
      </div>
    </a>
    <a href="">
      <div>
        <p><ls-static-138078>品質基準</ls-static-138078></p>
        <p><ls-static-297776>QUALITY</ls-static-297776></p>
      </div>
      <div>
        {{ 'content_bnr03_square.jpg' | asset_url | img_tag }}
      </div>
    </a>
    <a href="">
      <div>
        <p><ls-static-529413>品質基準</ls-static-529413></p>
        <p><ls-static-566005>QUALITY</ls-static-566005></p>
      </div>
      <div>
        {{ 'content_bnr04_square.jpg' | asset_url | img_tag }}
      </div>
    </a>
  </div>
</div>
