<div class="page-width page-content page-404">
  <header class="section-header section-header--404">
    <h1 class="section-header__title"><span>404</span> {{ 'general.pages.404' | t }}</h1>
    <div class="rte text-spacing">
      <p>{{ 'general.pages.404_html' | t }}</p>
      <a href="/" class="see-more">{{ 'general.site.top' | t }}</a>
    </div>
  </header>
</div>

<div class="bread-pages">
  <a href="/">{{ 'general.site.top' | t }}</a> <span>ï¼</span>404{{ 'general.pages.404' | t }}
</div>

<style>
  
.main-content{ min-height: unset;}
</style>