{% section 'product-template' %}
{% section 'product-story-sections' %}

{% if product.type == "リング" or product.type == "ネックレス" %}
{% section 'product-group' %}
{% endif %}
{% section 'sns-shares'%}
{% comment %}{% section 'product-recommendations' %}{% endcomment %}
{% comment %}{% section 'recently-viewed' %}{% endcomment %}

{% section "product-menu" %}
{% section 'service' %}

  
<div class="bread-pages">
  		<a href="{{ routes.root_url }}">{{ 'general.site.top'|t  }}</a> <span>＞</span> <a href="/collections/all"><ls-static-353350>全てのジュエリー</ls-static-353350></a> <span>＞</span> 
            {% if product.type =="リング" %}
            <a href="https://tatsumi-shimada.myshopify.com/collections/ring">{{ 'general.product.ring' | t }}</a><span>＞</span>
            {% elsif product.type =="ネックレス" %}
            <a href="https://tatsumi-shimada.myshopify.com/collections/necklace">{{ 'general.product.necklace' | t }}</a><span>＞</span>
            {% elsif product.type =="オプション" %}
            <a href="https://tatsumi-shimada.myshopify.com/collections/option">{{ 'general.product.option' | t }}</a><span>＞</span>
            {% endif %}
            {{ product.title }}<br><br>
            
            
  {% if product.metafields.custom_fields['series'] =="Between" %}
  <a href="{{ routes.root_url }}">{{ 'general.site.top'|t  }}</a> <span>＞</span> <a href="/collections/between">{{ 'general.series.between'|t  }}</a> <span>＞</span>
  <a href="/collections/{{ product.metafields.custom_fields["style"] }}">{{ product.metafields.custom_fields["style"] }}{{ collections[series].metafields.custom_fields["style-japanese"]}}</a>
  
   <span>＞</span>{{ product.title }}
  {% endif %}

</div>
<div class="product-slider" id="product-slider-1972"> </div>
<style>
  
.giftwrapping-select span label:nth-child(3) input:after{
  content:"{{ 'css.product.gift' | t }}";
}
  
</style>

{% if collection %}
  <div class="text-center page-content page-content--bottom">
    <a href="{% if collection.handle == 'frontpage' %}/{% else %}{{ collection.url }}{% endif %}" class="btn btn--small return-link">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-arrow-left" viewBox="0 0 50 15"><path d="M50 5.38v4.25H15V15L0 7.5 15 0v5.38z"/></svg> {{ 'products.general.collection_return' | t: collection: collection.title }}
    </a>
  </div>
{% endif %}

